infra/hetzner/workflows/archive/agent-thread-handler.json
{
  "name": "Agent Thread Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-events",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-thread",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\n\nif (body.type === 'url_verification' && body.challenge) {\n  return [{ json: { mode: 'challenge', challenge: body.challenge } }];\n}\n\nconst event = body.event || {};\nif (event.bot_id || event.subtype === 'bot_message') return [];\n\nif (event.type === 'reaction_added' && event.item) {\n  return [{\n    json: {\n      mode: 'reaction',\n      reaction: event.reaction,\n      channel: event.item.channel,\n      message_ts: event.item.ts,\n      user: event.user || ''\n    }\n  }];\n}\n\nconst text = event.text || '';\nconst isMention = text.includes('<@');\nif (!event.thread_ts && !isMention) return [];\n\nreturn [{\n  json: {\n    mode: 'event',\n    channel: event.channel,\n    thread_ts: event.thread_ts || event.ts,\n    ts: event.ts || event.thread_ts,\n    text,\n    user: event.user || '',\n    is_mention: isMention\n  }\n}];"
      },
      "id": "filter-events",
      "name": "Filter Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-to-slack",
      "name": "Respond to Slack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.mode !== 'event') return [];\n\nconst channel = $json.channel;\nconst text = ($json.text || '').toLowerCase();\nconst isDecision = channel === 'C0AM2310P8A' && /(log this|decided:)/i.test(text);\nconst isInfraStatus = channel === 'C0ALVM4PAE7' && /\\b(status|health|how.s|infra|check|systems?)\\b/i.test(text);\n\nconst channelPersonaMap = {\n  C0ALLEKR9FZ: { name: 'Engineering', icon: ':mage:', prompt: 'You are the Staff Engineer for Paperwork Labs. Stack: Next.js 16 + Tailwind v4 + shadcn/ui (frontend), FastAPI + SQLAlchemy + Neon PostgreSQL (backend). Monorepo: apps/filefree, apps/launchfree, apps/studio, apps/trinkets, apps/distill + apis/. Give practical implementation guidance, call out risks, keep answers concise. If reviewing a PR, include risks and test recommendations. Never suggest AWS — we use GCP + Render + Vercel.', docs: ['TASKS'] },\n  C0ALLJWR1HV: { name: 'EA / Operator', icon: ':astronaut:', prompt: 'You are the EA / Operator for Paperwork Labs. Products: FileFree (tax, filefree.ai), LaunchFree (LLC, launchfree.ai), Distill (B2B, distill.tax), Trinkets (tools). Two co-founders: F1 (Product/Eng), F2 (Partnerships). Monthly burn ~$278. Provide clear operational guidance, reference active task phases, surface blockers, suggest next actions. Keep responses mobile-friendly.', docs: ['TASKS', 'KNOWLEDGE'] },\n  C0AM2310P8A: { name: 'Strategy', icon: ':brain:', prompt: 'You are the Strategy persona for Paperwork Labs. North Stars: FileFree MeF Transmitter (Jan 2027), LaunchFree 50-state Engine (Summer 2026), Distill B2B platform (Summer 2026). Revenue from partnerships (77%), B2B APIs, upsells. Consumer products free forever. Focus on tradeoffs, prioritization, milestone alignment.', docs: ['TASKS', 'KNOWLEDGE'] },\n  C0ALLD3P3A9: { name: 'QA', icon: ':detective:', prompt: 'You are the QA persona for Paperwork Labs. Critical: never log PII, SSNs never sent to LLMs, uploads auto-delete 24hrs, rate limits on all endpoints. Tax calcs use integer math (cents). Focus on bugs, regressions, testing gaps, security risks.', docs: ['TASKS'] },\n  C0AMEQV199P: { name: 'Strategy', icon: ':brain:', prompt: 'You are the Strategy persona for Paperwork Labs. Products: FileFree, LaunchFree, Distill, Trinkets. Phase 2 (FileFree product) and Phase 3 (LaunchFree) are active. Focus on high-leverage priorities and company-level execution.', docs: ['TASKS', 'KNOWLEDGE'] },\n  C0AM01NHQ3Y: { name: 'Engineering', icon: ':mage:', prompt: 'You are the Engineering persona for Paperwork Labs. Stack: Next.js 16 + Tailwind + shadcn (frontend), FastAPI + SQLAlchemy + Neon PostgreSQL (backend). Infra: Vercel, Render, GCP Cloud Vision, Hetzner (n8n). Provide technically sound, executable guidance.', docs: ['TASKS'] },\n  C0ALVM4PAE7: { name: 'Engineering', icon: ':gear:', prompt: 'You are the Engineering persona for Paperwork Labs, monitoring #alerts. Infrastructure: Hetzner (n8n, Postiz, 7 containers), Render (2 APIs), Vercel (5 apps), Neon (DB), Upstash (Redis). Provide clear infra guidance and troubleshooting steps.', docs: ['TASKS'] },\n};\n\nconst intentPersonas = [\n  { id: 'legal', regex: /(^|\\b)(@?legal|counsel|compliance review|legal review)(\\b|$)/i, persona: { name: 'Legal', icon: ':owl:', prompt: 'You are General Counsel for Paperwork Labs. Focus on legal risk, compliance boundaries (FTC, Circular 230, CCPA, DPA), disclosures, and policy implications. Products handle SSNs, EINs, financial data. Consumer products are free — FTC requires clear disclosure. Keep advice practical and concrete.', docs: [] } },\n  { id: 'social', regex: /(^|\\b)(@?social|social take|content angle|creator)(\\b|$)/i, persona: { name: 'Social', icon: ':parrot:', prompt: 'You are the Social persona for Paperwork Labs. Brands: FileFree (@filefree.ai), LaunchFree (@launchfree.ai). Gen Z audience (18-30). Give distribution-focused messaging guidance, hooks, and concise copy edits. Use brand voice from brand.mdc.', docs: [] } },\n  { id: 'growth', regex: /(^|\\b)(@?growth|growth take|acquisition|seo|funnel)(\\b|$)/i, persona: { name: 'Growth', icon: ':seedling:', prompt: 'You are the Growth persona for Paperwork Labs. Target: Gen Z first-time filers and first-time entrepreneurs. Channels: TikTok, Instagram, SEO (trinkets), Reddit. Focus on activation, acquisition, conversion, and measurable growth experiments.', docs: [] } },\n  { id: 'qa', regex: /(^|\\b)(@?qa|test|testing|regression|security scan)(\\b|$)/i, persona: { name: 'QA', icon: ':detective:', prompt: 'You are the QA persona for Paperwork Labs. Never log PII. SSNs never sent to LLMs. All uploads auto-delete 24hrs. Tax calcs use integer math (cents). Prioritize defects, regressions, missing test coverage, and security checks.', docs: ['TASKS'] } },\n  { id: 'strategy', regex: /(^|\\b)(@?strategy|priorit|roadmap|tradeoff|exec)(\\b|$)/i, persona: { name: 'Strategy', icon: ':brain:', prompt: 'You are the Strategy persona for Paperwork Labs. North Stars: FileFree MeF (Jan 2027), LaunchFree 50-state (Summer 2026), Distill B2B (Summer 2026). Focus on sequencing, tradeoffs, and venture-level alignment.', docs: ['TASKS', 'KNOWLEDGE'] } },\n  { id: 'engineering', regex: /(^|\\b)(@?engineering|@?eng|implementation|architecture|code review)(\\b|$)/i, persona: { name: 'Engineering', icon: ':mage:', prompt: 'You are the Staff Engineer for Paperwork Labs. Stack: Next.js 16 + Tailwind + shadcn, FastAPI + SQLAlchemy + Neon. Monorepo with pnpm. Give direct implementation guidance, code-level risk review, and testing recommendations.', docs: ['TASKS'] } },\n  { id: 'cpa', regex: /(^|\\b)(@?cpa|tax advisor|tax review)(\\b|$)/i, persona: { name: 'CPA Advisor', icon: ':nerd_face:', prompt: 'You are the CPA / Tax Advisor for Paperwork Labs. Focus on tax accuracy, edge cases, safe user-facing guidance. Never provide advice that crosses UPL boundaries. All calculations must match IRS Pub 17.', docs: [] } },\n  { id: 'partnerships', regex: /(^|\\b)(@?partnerships|partner|affiliate|bd)(\\b|$)/i, persona: { name: 'Partnerships', icon: ':handshake:', prompt: 'You are the Partnerships persona for Paperwork Labs. Partnerships drive 77% of consumer revenue. Tiered strategy: A (affiliate), B (managed), C (API), D (marketplace). Focus on partner fit, outreach posture, and commercial implications.', docs: [] } },\n  { id: 'cfo', regex: /(^|\\b)(@?cfo|cost|spend|burn|budget)(\\b|$)/i, persona: { name: 'CFO', icon: ':chart_with_upwards_trend:', prompt: 'You are the CFO for Paperwork Labs. Monthly burn ~$278. Infrastructure: Render ($21), Hetzner ($6), Vercel (free->$20). Focus on unit economics, infrastructure spend, and vendor evaluation.', docs: [] } },\n  { id: 'ea', regex: /(^|\\b)(@?ea|operator|ops view|briefing)(\\b|$)/i, persona: { name: 'EA / Operator', icon: ':astronaut:', prompt: 'You are the EA / Operator for Paperwork Labs. Focus on execution clarity, owner/action mapping, and operational cadence. Reference active phases and recent decisions.', docs: ['TASKS', 'KNOWLEDGE'] } }\n];\n\nconst override = intentPersonas.find((entry) => entry.regex.test(text));\nconst defaultPersona = channelPersonaMap[channel] || channelPersonaMap.C0AM01NHQ3Y;\nconst persona = override ? override.persona : defaultPersona;\n\nreturn [{\n  json: {\n    ...$json,\n    route: isDecision ? 'decision' : isInfraStatus ? 'infra-status' : 'reply',\n    persona_name: persona.name,\n    persona_icon: persona.icon,\n    persona_prompt: persona.prompt,\n    persona_docs: persona.docs || [],\n    persona_override: override ? override.id : null\n  }\n}];"
      },
      "id": "route-persona",
      "name": "Route Persona",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.route !== 'decision') return [];\nreturn [{ json: $json }];"
      },
      "id": "filter-decision",
      "name": "Filter Decision Route",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1210,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.paperworklabs.com/webhook/e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8a9b/webhook/slack-decisions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: \"event_callback\", event: { channel: $json.channel, thread_ts: $json.thread_ts, ts: $json.ts, user: $json.user, text: $json.text } }) }}",
        "options": {}
      },
      "id": "execute-decision",
      "name": "Execute Decision Logger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1450,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.route !== 'reply') return [];\nreturn [{ json: $json }];"
      },
      "id": "filter-reply",
      "name": "Filter Reply Route",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1210,
        420
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://slack.com/api/conversations.replies",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "={{ $json.channel }}"
            },
            {
              "name": "ts",
              "value": "={{ $json.thread_ts }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-thread",
      "name": "Fetch Thread History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1450,
        420
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "slack-cred",
          "name": "Slack Bot Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const routed = $('Route Persona').first().json;\nconst thread = $('Fetch Thread History').first().json;\nconst messages = (thread.messages || []).slice(-20).map((m) => `${m.user || 'bot'}: ${m.text || ''}`).join('\\n');\n\nconst docNames = routed.persona_docs || [];\nlet docsContext = '';\n\nif (docNames.length > 0) {\n  const ghToken = $env.GITHUB_TOKEN || '';\n  const headers = { Accept: 'application/vnd.github.v3.raw', 'User-Agent': 'n8n-paperwork' };\n  if (ghToken) headers.Authorization = `Bearer ${ghToken}`;\n\n  for (const doc of docNames) {\n    try {\n      const url = `https://api.github.com/repos/paperwork-labs/paperwork/contents/docs/${doc}.md`;\n      const resp = await this.helpers.httpRequest({ method: 'GET', url, headers });\n      let content = typeof resp === 'string' ? resp : JSON.stringify(resp);\n\n      if (doc === 'TASKS') {\n        const lines = content.split('\\n');\n        const trimmed = [];\n        let keep = true, hdr = false;\n        for (const l of lines) {\n          if (l.startsWith('## Phase') || l.startsWith('## Section')) { hdr = true; keep = !/COMPLETE|completed|100%/i.test(l); }\n          if (!hdr || keep) trimmed.push(l);\n        }\n        content = trimmed.join('\\n').slice(0, 8000);\n      } else if (doc === 'KNOWLEDGE') {\n        const fac = []; let inF = false;\n        for (const l of content.split('\\n')) {\n          if (/^#.*Front.and.Center/i.test(l)) inF = true;\n          if (inF) { fac.push(l); if (fac.length > 1 && /^---/.test(l)) break; }\n        }\n        const blocks = content.split(/(?=^### D\\d+)/m);\n        content = (fac.join('\\n') + '\\n--- Recent ---\\n' + blocks.slice(-10).join('\\n')).slice(0, 5000);\n      } else {\n        content = content.slice(0, 5000);\n      }\n      docsContext += `\\n--- ${doc}.md ---\\n${content}\\n`;\n    } catch (e) { docsContext += `\\n[Could not fetch ${doc}.md]\\n`; }\n  }\n}\n\nconst docSection = docsContext ? `\\n\\nRelevant docs for context:\\n${docsContext}` : '';\nconst userPrompt = `Channel: ${routed.channel}\\nThread TS: ${routed.thread_ts}\\nLatest message: ${routed.text}\\n\\nRecent thread context:\\n${messages}${docSection}\\n\\nRespond in Slack mrkdwn only: use *bold* (never **bold**) and <url|text> (never [text](url)). Keep it concise and actionable.`;\n\nreturn [{\n  json: {\n    channel: routed.channel,\n    thread_ts: routed.thread_ts,\n    persona_name: routed.persona_name,\n    persona_icon: routed.persona_icon,\n    system_prompt: routed.persona_prompt,\n    user_prompt: userPrompt\n  }\n}];"
      },
      "id": "build-context",
      "name": "Build Thread Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1690,
        420
      ]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "response",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "responses": {
          "values": [
            {
              "type": "text",
              "role": "system",
              "content": "={{ $json.system_prompt }}"
            },
            {
              "type": "text",
              "role": "user",
              "content": "={{ $json.user_prompt }}"
            }
          ]
        },
        "simplify": true,
        "options": {
          "temperature": 0.4,
          "store": false
        }
      },
      "id": "generate-response",
      "name": "Generate Response",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1930,
        420
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "OpenAI"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "function sanitizeSlackMrkdwn(text) {\n  return String(text || '')\n    .replace(/```\\w*\\n?/g, '```')\n    .replace(/^#{1,6}\\s+(.+)$/gm, '*$1*')\n    .replace(/^[-*_]{3,}\\s*$/gm, '')\n    .replace(/\\*\\*(.+?)\\*\\*/g, '*$1*')\n    .replace(/\\[([^\\]]+)\\]\\(([^)]+)\\)/g, '<$2|$1>')\n    .replace(/\\n{3,}/g, '\\n\\n');\n}\n\nconst routed = $('Build Thread Context').first().json;\nconst output = $json.output || [];\nconst aiText = output[0]?.content?.find((part) => part.type === 'output_text')?.text;\n\nconst errorMessage = (\n  $json.error?.message ||\n  $json.error?.description ||\n  $json.message ||\n  ''\n);\n\nlet text = aiText;\nif (!text) {\n  const err = String(errorMessage).toLowerCase();\n\n  if (err.includes('insufficient_quota') || err.includes('exceeded your current quota')) {\n    text = ':warning: AI response unavailable: OpenAI quota is exhausted for this workspace. Please top up billing, then retry this thread message.';\n  } else if (err.includes('rate') || err.includes('429')) {\n    text = ':warning: AI response unavailable: OpenAI rate limit hit. Please retry in 30-60 seconds.';\n  } else if (err.includes('incorrect api key') || err.includes('invalid_api_key') || err.includes('unauthorized') || err.includes('401')) {\n    text = ':warning: AI response unavailable: OpenAI credential is invalid. Please update the n8n OpenAI credential and retry.';\n  } else {\n    text = ':warning: AI response unavailable right now. Most likely cause is model quota or billing limits. Please top up/check OpenAI billing, then retry this thread.';\n  }\n}\n\ntext = sanitizeSlackMrkdwn(text);\n\nreturn [{\n  json: {\n    channel: routed.channel,\n    thread_ts: routed.thread_ts,\n    text,\n    username: routed.persona_name,\n    icon_emoji: routed.persona_icon\n  }\n}];"
      },
      "id": "build-outbound",
      "name": "Build Outbound Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2170,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $json.channel, text: $json.text, thread_ts: $json.thread_ts, username: $json.username, icon_emoji: $json.icon_emoji }) }}",
        "options": {}
      },
      "id": "post-reply",
      "name": "Post Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2410,
        420
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "slack-cred",
          "name": "Slack Bot Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "if ($json.mode !== 'reaction') return [];\nif ($json.channel !== 'C0ALLEKR9FZ') return [];\n\nconst actionMap = {\n  white_check_mark: 'merge',\n  rocket: 'merge',\n  eyes: 'review',\n  no_entry_sign: 'hold'\n};\n\nconst action = actionMap[$json.reaction];\nif (!action) return [];\n\nreturn [{\n  json: {\n    channel: $json.channel,\n    message_ts: $json.message_ts,\n    reaction: $json.reaction,\n    action\n  }\n}];"
      },
      "id": "route-reaction",
      "name": "Route Reaction Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        660
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://slack.com/api/conversations.history",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "={{ $json.channel }}"
            },
            {
              "name": "latest",
              "value": "={{ $json.message_ts }}"
            },
            {
              "name": "limit",
              "value": "1"
            },
            {
              "name": "inclusive",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-reacted-msg",
      "name": "Fetch Reacted Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1210,
        660
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "slack-cred",
          "name": "Slack Bot Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const slackResp = $input.first().json;\nconst messages = slackResp.messages || [];\nif (!messages.length) return [];\n\nconst msgText = messages[0].text || '';\nconst msgTs = messages[0].ts || '';\nconst routed = $('Route Reaction Events').first().json;\nconst channel = routed.channel;\nconst action = routed.action;\n\nconst prMatch = msgText.match(/github\\.com\\/[^\\/]+\\/[^\\/]+\\/pull\\/(\\d+)/);\nif (!prMatch) return [];\n\nconst prNumber = parseInt(prMatch[1], 10);\nconst owner = 'paperwork-labs';\nconst repo = 'paperwork';\n\nconst githubToken = $env.GITHUB_TOKEN || '';\nconst ghHeaders = {\n  Accept: 'application/vnd.github.v3+json',\n  'User-Agent': 'n8n-paperwork'\n};\nif (githubToken) {\n  ghHeaders.Authorization = `Bearer ${githubToken}`;\n}\n\nconst slackBotToken = $env.SLACK_BOT_TOKEN || '';\nconst slackPost = async (text) => {\n  if (!slackBotToken) return;\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://slack.com/api/chat.postMessage',\n    headers: { Authorization: `Bearer ${slackBotToken}`, 'Content-Type': 'application/json' },\n    body: JSON.stringify({ channel, text, thread_ts: msgTs, username: 'Engineering', icon_emoji: ':mage:' })\n  });\n};\n\nif (action === 'hold') {\n  await slackPost(`:no_entry_sign: PR #${prNumber} merge held by founder.`);\n  return [];\n}\n\nif (action === 'review') {\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: `https://api.github.com/repos/${owner}/${repo}/pulls/${prNumber}/requested_reviewers`,\n      headers: { ...ghHeaders, 'Content-Type': 'application/json' },\n      body: JSON.stringify({ reviewers: ['copilot-pull-request-reviewer[bot]'] })\n    });\n    await slackPost(`:eyes: Copilot re-review requested for PR #${prNumber}.`);\n  } catch (e) {\n    const reason = e.message || 'unknown error';\n    await slackPost(`:warning: Failed to request Copilot review for PR #${prNumber}: ${reason}`);\n  }\n  return [];\n}\n\nconst prResp = await this.helpers.httpRequest({\n  method: 'GET',\n  url: `https://api.github.com/repos/${owner}/${repo}/pulls/${prNumber}`,\n  headers: ghHeaders\n});\n\nconst sha = prResp.head.sha;\n\nconst checksResp = await this.helpers.httpRequest({\n  method: 'GET',\n  url: `https://api.github.com/repos/${owner}/${repo}/commits/${sha}/check-runs`,\n  headers: ghHeaders\n});\n\nconst runs = checksResp.check_runs || [];\nconst notReady = runs.filter(c =>\n  c.name !== 'auto-merge' &&\n  !(c.status === 'completed' && ['success', 'skipped', 'neutral'].includes(c.conclusion))\n);\n\nif (notReady.length > 0) {\n  const blockers = notReady.map(c =>\n    c.status !== 'completed' ? `${c.name} (${c.status})` : `${c.name} (${c.conclusion})`\n  );\n  await slackPost(`:x: CI not green yet — ${blockers.join(', ')}`);\n  return [];\n}\n\nreturn [{\n  json: {\n    pr_number: prNumber,\n    sha,\n    channel,\n    message_ts: msgTs,\n    pr_title: prResp.title || `#${prNumber}`,\n    pr_url: prResp.html_url || `https://github.com/${owner}/${repo}/pull/${prNumber}`\n  }\n}];"
      },
      "id": "extract-pr-check-ci",
      "name": "Extract PR and Check CI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        660
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://api.github.com/repos/paperwork-labs/paperwork/pulls/' + $json.pr_number + '/merge' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ merge_method: 'squash' }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-paperwork"
            }
          ]
        },
        "options": {}
      },
      "id": "merge-pr",
      "name": "Merge PR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1690,
        660
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-cred",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Extract PR and Check CI').first().json.channel, text: ':white_check_mark: <' + ($('Extract PR and Check CI').first().json.pr_url || ('https://github.com/paperwork-labs/paperwork/pull/' + $('Extract PR and Check CI').first().json.pr_number)) + '|PR #' + $('Extract PR and Check CI').first().json.pr_number + ': ' + ($('Extract PR and Check CI').first().json.pr_title || '') + '> merged via squash.', thread_ts: $('Extract PR and Check CI').first().json.message_ts, username: 'Engineering', icon_emoji: ':mage:' }) }}",
        "options": {}
      },
      "id": "post-merge-confirm",
      "name": "Post Merge Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1930,
        660
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "slack-cred",
          "name": "Slack Bot Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "if ($json.route !== 'infra-status') return [];\nreturn [{ json: $json }];"
      },
      "id": "filter-infra-status",
      "name": "Filter Infra Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1210, 560]
    },
    {
      "parameters": {
        "jsCode": "const apiKey = $env.N8N_API_KEY;\nlet total = 0, active = 0, inactiveNames = [], liveness = '000';\n\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: 'http://localhost:5678/api/v1/workflows?limit=250',\n    headers: { 'X-N8N-API-KEY': apiKey },\n  });\n  liveness = '200';\n  const workflows = resp.data || [];\n  total = workflows.length;\n  active = workflows.filter(w => w.active).length;\n  inactiveNames = workflows.filter(w => !w.active).map(w => w.name);\n} catch (e) {\n  // n8n REST API unreachable or auth failed\n}\n\nconst statusEmoji = (active === total && liveness === '200') ? ':white_check_mark:' : ':warning:';\nconst inactiveSection = inactiveNames.length > 0\n  ? `\\n\\nInactive workflows:\\n${inactiveNames.map(n => `• ${n}`).join('\\n')}`\n  : '';\n\nconst message = `${statusEmoji} *n8n Infrastructure Status*\\n\\n` +\n  `• Workflows: ${active}/${total} active\\n` +\n  `• n8n liveness: ${liveness}` +\n  inactiveSection;\n\nreturn [{\n  json: {\n    total,\n    active,\n    inactive: total - active,\n    inactiveNames,\n    liveness,\n    message,\n    channel: $json.channel,\n    thread_ts: $json.thread_ts\n  }\n}];\n"
      },
      "id": "run-infra-status",
      "name": "Run Infra Status Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 560]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SLACK_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "channel", "value": "={{ $json.channel }}" },
            { "name": "thread_ts", "value": "={{ $json.thread_ts }}" },
            { "name": "text", "value": "={{ $json.message }}" },
            { "name": "username", "value": "Engineering" },
            { "name": "icon_emoji", "value": ":gear:" }
          ]
        },
        "options": {}
      },
      "id": "post-infra-status",
      "name": "Post Infra Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1690, 560]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Events": {
      "main": [
        [
          {
            "node": "Respond to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Slack": {
      "main": [
        [
          {
            "node": "Route Persona",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route Reaction Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Persona": {
      "main": [
        [
          {
            "node": "Filter Decision Route",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Reply Route",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Infra Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Infra Status": {
      "main": [
        [
          {
            "node": "Run Infra Status Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Infra Status Check": {
      "main": [
        [
          {
            "node": "Post Infra Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Decision Route": {
      "main": [
        [
          {
            "node": "Execute Decision Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Reply Route": {
      "main": [
        [
          {
            "node": "Fetch Thread History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Thread History": {
      "main": [
        [
          {
            "node": "Build Thread Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Thread Context": {
      "main": [
        [
          {
            "node": "Generate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Response": {
      "main": [
        [
          {
            "node": "Build Outbound Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Outbound Message": {
      "main": [
        [
          {
            "node": "Post Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Reaction Events": {
      "main": [
        [
          {
            "node": "Fetch Reacted Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Reacted Message": {
      "main": [
        [
          {
            "node": "Extract PR and Check CI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PR and Check CI": {
      "main": [
        [
          {
            "node": "Merge PR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge PR": {
      "main": [
        [
          {
            "node": "Post Merge Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "agent"
    },
    {
      "name": "slack"
    }
  ],
  "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d"
}