infra/hetzner/workflows/archive/ea-daily.json
{
  "name": "EA Daily Briefing",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "schedule-daily",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/paperwork-labs/paperwork/contents/docs/TASKS.md",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Accept", "value": "application/vnd.github.v3.raw" }] },
        "options": {}
      },
      "id": "fetch-tasks",
      "name": "Fetch TASKS.md",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [500, 300],
      "credentials": { "httpHeaderAuth": { "id": "github-cred", "name": "GitHub PAT" } }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/paperwork-labs/paperwork/contents/docs/KNOWLEDGE.md",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Accept", "value": "application/vnd.github.v3.raw" }] },
        "options": {}
      },
      "id": "fetch-knowledge",
      "name": "Fetch KNOWLEDGE.md",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [750, 300],
      "credentials": { "httpHeaderAuth": { "id": "github-cred", "name": "GitHub PAT" } }
    },
    {
      "parameters": {
        "jsCode": "const tasksRaw = $('Fetch TASKS.md').first().json.data || JSON.stringify($('Fetch TASKS.md').first().json);\nconst knowledgeRaw = $('Fetch KNOWLEDGE.md').first().json.data || JSON.stringify($('Fetch KNOWLEDGE.md').first().json);\n\n// Trim TASKS.md: keep header + Front-and-Center + active phases only\nconst tasksLines = String(tasksRaw).split('\\n');\nconst trimmedTasks = [];\nlet keep = true;\nlet headerDone = false;\nfor (const line of tasksLines) {\n  if (line.startsWith('## Phase') || line.startsWith('## Section')) {\n    headerDone = true;\n    const isDone = /COMPLETE|completed|100%/i.test(line);\n    keep = !isDone;\n  }\n  if (!headerDone || keep) trimmedTasks.push(line);\n}\nconst tasks = trimmedTasks.join('\\n').slice(0, 12000);\n\n// Trim KNOWLEDGE.md: keep Front-and-Center section + last 15 decision entries\nconst kLines = String(knowledgeRaw).split('\\n');\nconst frontAndCenter = [];\nlet inFAC = false;\nfor (const line of kLines) {\n  if (/^#.*Front.and.Center/i.test(line)) inFAC = true;\n  if (inFAC) {\n    frontAndCenter.push(line);\n    if (frontAndCenter.length > 1 && /^---/.test(line)) break;\n  }\n}\nconst decisionBlocks = String(knowledgeRaw).split(/(?=^### D\\d+)/m);\nconst recentDecisions = decisionBlocks.slice(-15).join('\\n');\nconst knowledge = (frontAndCenter.join('\\n') + '\\n\\n--- Recent Decisions ---\\n' + recentDecisions).slice(0, 8000);\n\nlet vmpSummary = '';\ntry {\n  const ghToken = $env.GITHUB_TOKEN || '';\n  const headers = { Accept: 'application/vnd.github.v3.raw', 'User-Agent': 'n8n-paperwork' };\n  if (ghToken) headers.Authorization = `Bearer ${ghToken}`;\n  vmpSummary = await this.helpers.httpRequest({ method: 'GET', url: 'https://api.github.com/repos/paperwork-labs/paperwork/contents/docs/VMP-SUMMARY.md', headers });\n  if (typeof vmpSummary !== 'string') vmpSummary = JSON.stringify(vmpSummary);\n  vmpSummary = vmpSummary.slice(0, 4000);\n} catch (e) { vmpSummary = '[VMP-SUMMARY.md not available]'; }\n\nlet infraHealth = '';\ntry {\n  const apiKey = $env.N8N_API_KEY;\n  const resp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: 'http://localhost:5678/api/v1/workflows?limit=250',\n    headers: { 'X-N8N-API-KEY': apiKey },\n  });\n  const workflows = resp.data || [];\n  const total = workflows.length;\n  const active = workflows.filter(w => w.active).length;\n  infraHealth = `n8n workflows: ${active}/${total} active`;\n  if (active < total) {\n    const inactiveNames = workflows.filter(w => !w.active).map(w => w.name).join(', ');\n    infraHealth += `\\nInactive: ${inactiveNames}`;\n  }\n} catch (e) { infraHealth = 'Could not check n8n health'; }\n\nreturn [{ json: { tasks, knowledge, vmpSummary, infraHealth } }];"
      },
      "id": "trim-context",
      "name": "Trim Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "response",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "responses": {
          "values": [
            {
              "type": "text",
              "role": "system",
              "content": "You are a panel of senior advisors for Paperwork Labs. Generate a daily briefing that is concise, specific, and actionable.\n\nFORMATTING (CRITICAL — output is posted directly to Slack):\n- Use Slack mrkdwn ONLY. Never use standard markdown.\n- Bold: *bold* (single asterisks). NEVER use **double asterisks**.\n- Sections: Use *Section Name* on its own line. NEVER use # headings.\n- Links: <https://url|display text>. NEVER use [text](url).\n- Code: `inline code` or ```code block```. NEVER add a language tag after the opening ```.\n- NEVER use --- or *** horizontal rules.\n- Use \u2022 for bullet points.\n\nRequired sections:\n1. *Sprint Status* (EA / Operator) \u2014 tasks due today, progress, blockers\n2. *Code Review* (Staff Engineer) \u2014 recent commits/PR quality, architecture concerns, tech debt\n3. *Risk Flags* (QA Lead) \u2014 untested changes, security gaps, PII exposure risks\n4. *Strategic Alignment* (Chief of Staff) \u2014 progress against milestones\n5. *Action Items* \u2014 top 3 priorities for today\n\nUse bullets. Reference actual task names, commits, and milestones. No generic filler."
            },
            {
              "type": "text",
              "role": "user",
              "content": "=Today is {{ new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', timeZone: 'America/Los_Angeles' }) }}.\n\n--- TASKS (active phases) ---\n{{ $('Trim Context').first().json.tasks }}\n--- END TASKS ---\n\n--- KNOWLEDGE (front-and-center + recent) ---\n{{ $('Trim Context').first().json.knowledge }}\n--- END KNOWLEDGE ---\n\n--- VENTURE SUMMARY ---\n{{ $('Trim Context').first().json.vmpSummary }}\n--- END VENTURE SUMMARY ---\n\n--- INFRA HEALTH ---\n{{ $('Trim Context').first().json.infraHealth }}\n--- END INFRA HEALTH ---\n\nGenerate today's multi-persona daily briefing. Include an *Infra Health* section reporting the n8n workflow status above."
            }
          ]
        },
        "simplify": true,
        "options": {
          "temperature": 0.4,
          "store": false
        }
      },
      "id": "generate-briefing",
      "name": "Generate Briefing",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [1250, 300],
      "credentials": { "openAiApi": { "id": "openai-cred", "name": "OpenAI" } },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "function sanitizeSlackMrkdwn(text) {\n  return String(text || '')\n    .replace(/```\\w*\\n?/g, '```')\n    .replace(/^#{1,6}\\s+(.+)$/gm, '*$1*')\n    .replace(/^[-*_]{3,}\\s*$/gm, '')\n    .replace(/\\*\\*(.+?)\\*\\*/g, '*$1*')\n    .replace(/\\[([^\\]]+)\\]\\(([^)]+)\\)/g, '<$2|$1>')\n    .replace(/\\n{3,}/g, '\\n\\n');\n}\n\nconst output = $json.output || [];\nconst aiText = (output[0]?.content || []).find(c => c.type === 'output_text')?.text || '';\nconst date = new Date().toISOString().split('T')[0];\nconst header = '*Daily Briefing \u2014 ' + date + '*\\n\\n';\nconst footer = '\\n\\n_Thread router: reply with a persona name for a focused take._';\nconst fallback = ':warning: No output generated. Check workflow logs.';\nconst body = aiText.trim() ? aiText.trim() : fallback;\nreturn [{ json: { text: sanitizeSlackMrkdwn(header + body + footer) } }];"
      },
      "id": "format-daily-briefing",
      "name": "Format Briefing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: 'C0ALLJWR1HV', text: $json.text, username: 'EA / Operator', icon_emoji: ':astronaut:' }) }}",
        "options": {}
      },
      "id": "post-daily-briefing",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1750, 300],
      "credentials": { "httpHeaderAuth": { "id": "slack-cred", "name": "Slack Bot Token" } }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Fetch TASKS.md", "type": "main", "index": 0 }]]
    },
    "Fetch TASKS.md": {
      "main": [[{ "node": "Fetch KNOWLEDGE.md", "type": "main", "index": 0 }]]
    },
    "Fetch KNOWLEDGE.md": {
      "main": [[{ "node": "Trim Context", "type": "main", "index": 0 }]]
    },
    "Trim Context": {
      "main": [[{ "node": "Generate Briefing", "type": "main", "index": 0 }]]
    },
    "Generate Briefing": {
      "main": [[{ "node": "Format Briefing", "type": "main", "index": 0 }]]
    },
    "Format Briefing": {
      "main": [[{ "node": "Post to Slack", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "agent" }, { "name": "ea" }, { "name": "daily" }],
  "id": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e"
}