infra/hetzner/workflows/agent-thread-handler.json
{
  "name": "Agent Thread Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-events",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-thread",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\n\nif (body.type === 'url_verification' && body.challenge) {\n  return [{ json: { mode: 'challenge', challenge: body.challenge } }];\n}\n\nconst event = body.event || {};\nif (event.bot_id || event.subtype === 'bot_message') return [];\n\nconst text = event.text || '';\nconst isMention = text.includes('<@');\nif (!event.thread_ts && !isMention) return [];\n\nreturn [{\n  json: {\n    mode: 'event',\n    channel: event.channel,\n    thread_ts: event.thread_ts || event.ts,\n    ts: event.ts || event.thread_ts,\n    text,\n    user: event.user || '',\n    is_mention: isMention\n  }\n}];"
      },
      "id": "filter-events",
      "name": "Filter Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-to-slack",
      "name": "Respond to Slack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.mode !== 'event') return [];\n\nconst channel = $json.channel;\nconst text = ($json.text || '').toLowerCase();\nconst isDecision = channel === 'C0AM2310P8A' && /(log this|decided:)/i.test(text);\n\nconst channelPersonaMap = {\n  C0ALLEKR9FZ: { name: 'Engineering', icon: ':gear:', prompt: 'You are the Staff Engineer persona for Paperwork Labs. Give practical implementation guidance, call out risks, and keep answers concise. If reviewing a PR, include risks and test recommendations.' },\n  C0ALLJWR1HV: { name: 'EA / Operator', icon: ':clipboard:', prompt: 'You are the EA / Operator persona for Paperwork Labs. Provide clear operational guidance and next actions.' },\n  C0AM2310P8A: { name: 'Strategy', icon: ':chess_pawn:', prompt: 'You are the Strategy persona for Paperwork Labs. Focus on tradeoffs, prioritization, and milestone alignment.' },\n  C0ALLD3P3A9: { name: 'QA', icon: ':shield:', prompt: 'You are the QA persona for Paperwork Labs. Focus on bugs, regressions, testing gaps, and security risks.' },\n  C0AMEQV199P: { name: 'Strategy', icon: ':chess_pawn:', prompt: 'You are the Strategy persona for Paperwork Labs. Focus on high-leverage priorities and company-level execution.' },\n  C0AM01NHQ3Y: { name: 'Engineering', icon: ':gear:', prompt: 'You are the Engineering persona for Paperwork Labs. Provide technically sound, executable guidance.' },\n};\n\nconst intentPersonas = [\n  { id: 'legal', regex: /(^|\\b)(@?legal|counsel|compliance review|legal review)(\\b|$)/i, persona: { name: 'Legal', icon: ':scroll:', prompt: 'You are General Counsel for Paperwork Labs. Focus on legal risk, compliance boundaries, disclosures, and policy implications. Keep advice practical and concrete.' } },\n  { id: 'social', regex: /(^|\\b)(@?social|social take|content angle|creator)(\\b|$)/i, persona: { name: 'Social', icon: ':speech_balloon:', prompt: 'You are the Social persona for Paperwork Labs. Give distribution-focused messaging guidance, hooks, and concise copy edits.' } },\n  { id: 'growth', regex: /(^|\\b)(@?growth|growth take|acquisition|seo|funnel)(\\b|$)/i, persona: { name: 'Growth', icon: ':rocket:', prompt: 'You are the Growth persona for Paperwork Labs. Focus on activation, acquisition, conversion, and measurable growth experiments.' } },\n  { id: 'qa', regex: /(^|\\b)(@?qa|test|testing|regression|security scan)(\\b|$)/i, persona: { name: 'QA', icon: ':shield:', prompt: 'You are the QA persona for Paperwork Labs. Prioritize defects, regressions, missing test coverage, and security checks.' } },\n  { id: 'strategy', regex: /(^|\\b)(@?strategy|priorit|roadmap|tradeoff|exec)(\\b|$)/i, persona: { name: 'Strategy', icon: ':chess_pawn:', prompt: 'You are the Strategy persona for Paperwork Labs. Focus on sequencing, tradeoffs, and venture-level alignment.' } },\n  { id: 'engineering', regex: /(^|\\b)(@?engineering|@?eng|implementation|architecture|code review)(\\b|$)/i, persona: { name: 'Engineering', icon: ':gear:', prompt: 'You are the Staff Engineer persona for Paperwork Labs. Give direct implementation guidance, code-level risk review, and testing recommendations.' } },\n  { id: 'cpa', regex: /(^|\\b)(@?cpa|tax advisor|tax review)(\\b|$)/i, persona: { name: 'CPA Advisor', icon: ':bar_chart:', prompt: 'You are the CPA / Tax Advisor persona for Paperwork Labs. Focus on tax accuracy, edge cases, and safe user-facing guidance.' } },\n  { id: 'partnerships', regex: /(^|\\b)(@?partnerships|partner|affiliate|bd)(\\b|$)/i, persona: { name: 'Partnerships', icon: ':handshake:', prompt: 'You are the Partnerships persona for Paperwork Labs. Focus on partner fit, outreach posture, and commercial implications.' } },\n  { id: 'ea', regex: /(^|\\b)(@?ea|operator|ops view|briefing)(\\b|$)/i, persona: { name: 'EA / Operator', icon: ':clipboard:', prompt: 'You are the EA / Operator persona for Paperwork Labs. Focus on execution clarity, owner/action mapping, and operational cadence.' } }\n];\n\nconst override = intentPersonas.find((entry) => entry.regex.test(text));\nconst defaultPersona = channelPersonaMap[channel] || channelPersonaMap.C0AM01NHQ3Y;\nconst persona = override ? override.persona : defaultPersona;\n\nreturn [{\n  json: {\n    ...$json,\n    route: isDecision ? 'decision' : 'reply',\n    persona_name: persona.name,\n    persona_icon: persona.icon,\n    persona_prompt: persona.prompt,\n    persona_override: override ? override.id : null\n  }\n}];"
      },
      "id": "route-persona",
      "name": "Route Persona",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.route !== 'decision') return [];\nreturn [{ json: $json }];"
      },
      "id": "filter-decision",
      "name": "Filter Decision Route",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1210,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.paperworklabs.com/webhook/e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8a9b/webhook/slack-decisions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: \"event_callback\", event: { channel: $json.channel, thread_ts: $json.thread_ts, ts: $json.ts, user: $json.user, text: $json.text } }) }}",
        "options": {}
      },
      "id": "execute-decision",
      "name": "Execute Decision Logger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1450,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.route !== 'reply') return [];\nreturn [{ json: $json }];"
      },
      "id": "filter-reply",
      "name": "Filter Reply Route",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1210,
        420
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://slack.com/api/conversations.replies",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "={{ $json.channel }}"
            },
            {
              "name": "ts",
              "value": "={{ $json.thread_ts }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-thread",
      "name": "Fetch Thread History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1450,
        420
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "slack-cred",
          "name": "Slack Bot Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const routed = $('Route Persona').first().json;\nconst thread = $('Fetch Thread History').first().json;\nconst messages = (thread.messages || []).slice(-20).map((m) => `${m.user || 'bot'}: ${m.text || ''}`).join('\\n');\n\nconst userPrompt = `Channel: ${routed.channel}\\nThread TS: ${routed.thread_ts}\\nLatest message: ${routed.text}\\n\\nRecent thread context:\\n${messages}\\n\\nRespond in Slack-ready markdown. Keep it concise and actionable.`;\n\nreturn [{\n  json: {\n    channel: routed.channel,\n    thread_ts: routed.thread_ts,\n    persona_name: routed.persona_name,\n    persona_icon: routed.persona_icon,\n    system_prompt: routed.persona_prompt,\n    user_prompt: userPrompt\n  }\n}];"
      },
      "id": "build-context",
      "name": "Build Thread Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1690,
        420
      ]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "response",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "responses": {
          "values": [
            {
              "type": "text",
              "role": "system",
              "content": "={{ $json.system_prompt }}"
            },
            {
              "type": "text",
              "role": "user",
              "content": "={{ $json.user_prompt }}"
            }
          ]
        },
        "simplify": true,
        "options": {
          "temperature": 0.4,
          "store": false
        }
      },
      "id": "generate-response",
      "name": "Generate Response",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1930,
        420
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "OpenAI"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const routed = $('Build Thread Context').first().json;\nconst output = $json.output || [];\nconst aiText = output[0]?.content?.find((part) => part.type === 'output_text')?.text;\n\nconst errorMessage = (\n  $json.error?.message ||\n  $json.error?.description ||\n  $json.message ||\n  ''\n);\n\nlet text = aiText;\nif (!text) {\n  const err = String(errorMessage).toLowerCase();\n\n  if (err.includes('insufficient_quota') || err.includes('exceeded your current quota')) {\n    text = ':warning: AI response unavailable: OpenAI quota is exhausted for this workspace. Please top up billing, then retry this thread message.';\n  } else if (err.includes('rate') || err.includes('429')) {\n    text = ':warning: AI response unavailable: OpenAI rate limit hit. Please retry in 30-60 seconds.';\n  } else if (err.includes('incorrect api key') || err.includes('invalid_api_key') || err.includes('unauthorized') || err.includes('401')) {\n    text = ':warning: AI response unavailable: OpenAI credential is invalid. Please update the n8n OpenAI credential and retry.';\n  } else {\n    text = ':warning: AI response unavailable right now. Most likely cause is model quota or billing limits. Please top up/check OpenAI billing, then retry this thread.';\n  }\n}\n\nreturn [{\n  json: {\n    channel: routed.channel,\n    thread_ts: routed.thread_ts,\n    text,\n    username: routed.persona_name,\n    icon_emoji: routed.persona_icon\n  }\n}];"
      },
      "id": "build-outbound",
      "name": "Build Outbound Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2170,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $json.channel, text: $json.text, thread_ts: $json.thread_ts, username: $json.username, icon_emoji: $json.icon_emoji }) }}",
        "options": {}
      },
      "id": "post-reply",
      "name": "Post Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2410,
        420
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "slack-cred",
          "name": "Slack Bot Token"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Events": {
      "main": [
        [
          {
            "node": "Respond to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Slack": {
      "main": [
        [
          {
            "node": "Route Persona",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Persona": {
      "main": [
        [
          {
            "node": "Filter Decision Route",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Reply Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Decision Route": {
      "main": [
        [
          {
            "node": "Execute Decision Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Reply Route": {
      "main": [
        [
          {
            "node": "Fetch Thread History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Thread History": {
      "main": [
        [
          {
            "node": "Build Thread Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Thread Context": {
      "main": [
        [
          {
            "node": "Generate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Response": {
      "main": [
        [
          {
            "node": "Build Outbound Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Outbound Message": {
      "main": [
        [
          {
            "node": "Post Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "agent"
    },
    {
      "name": "slack"
    }
  ],
  "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d"
}
