infra/hetzner/workflows/brain-weekly-trigger.json
{
  "name": "Brain Weekly Trigger",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * 0"
            }
          ]
        }
      },
      "id": "cron-weekly-pt",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.BRAIN_API_URL || 'https://brain.paperworklabs.com') + '/api/v1/brain/process' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Brain-Secret", "value": "={{ $env.BRAIN_API_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ organization_id: 'paperwork-labs', org_name: 'Paperwork Labs', message: 'Generate weekly plan summary for #all-paperwork-labs', channel: 'slack', channel_id: 'C0AMEQV199P', request_id: 'weekly-' + $execution.id }) }}",
        "options": { "timeout": 120000 }
      },
      "id": "call-brain-weekly",
      "name": "Call Brain API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.SLACK_BOT_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: 'C0AMEQV199P', text: (() => { const j = $('Call Brain API').first().json; const d = j.data || j; let r = d.response != null ? d.response : (d.message != null ? d.message : ''); if (typeof r !== 'string') r = r ? JSON.stringify(r) : (j.body ? String(j.body) : 'Brain returned no response.'); return r.length > 3900 ? r.substring(0, 3900) + '\\n\\n_(truncated)_' : r; })(), username: 'EA / Operator', icon_emoji: ':brain:' }) }}",
        "options": {}
      },
      "id": "post-slack-weekly",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          { "node": "Call Brain API", "type": "main", "index": 0 }
        ]
      ]
    },
    "Call Brain API": {
      "main": [
        [
          { "node": "Post to Slack", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    { "name": "brain" },
    { "name": "ea" },
    { "name": "weekly" }
  ]
}
