infra/hetzner/workflows/brain-pr-summary.json
{
  "name": "Brain PR Summary",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-pr-brain",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-pr-brain",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const incoming = $input.first().json || {};\nconst headers = incoming.headers || {};\nconst rawBody = incoming.body;\nconst body =\n  rawBody && typeof rawBody === 'object' && rawBody.action !== undefined\n    ? rawBody\n    : incoming;\n\nconst action = body.action || '';\nconst acceptedActions = new Set(['opened', 'ready_for_review', 'reopened']);\nif (!acceptedActions.has(action)) {\n  return [];\n}\n\nconst pr = body.pull_request || {};\nconst repo = body.repository || {};\nconst delivery =\n  headers['x-github-delivery'] ||\n  headers['X-GitHub-Delivery'] ||\n  body.delivery ||\n  `pr-${pr.number || 'unknown'}-${Date.now()}`;\n\nreturn [\n  {\n    json: {\n      pr_number: pr.number,\n      title: pr.title || '',\n      repo_full_name: repo.full_name || 'paperwork-labs/paperwork',\n      request_id: String(delivery),\n    },\n  },\n];"
      },
      "id": "extract-pr-context",
      "name": "Extract PR Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.BRAIN_API_URL || 'https://brain.paperworklabs.com') + '/api/v1/brain/process' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Brain-Secret", "value": "={{ $env.BRAIN_API_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ organization_id: 'paperwork-labs', org_name: 'Paperwork Labs', message: 'Summarize PR #' + $json.pr_number + ': ' + $json.title + ' in ' + $json.repo_full_name + '. Check the diff and provide a concise review.', channel: 'slack', channel_id: 'C0ALLEKR9FZ', request_id: $json.request_id }) }}",
        "options": { "timeout": 120000 }
      },
      "id": "call-brain-pr",
      "name": "Call Brain API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.SLACK_BOT_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: 'C0ALLEKR9FZ', text: (() => { const j = $('Call Brain API').first().json; const d = j.data || j; let r = d.response != null ? d.response : (d.message != null ? d.message : ''); if (typeof r !== 'string') r = r ? JSON.stringify(r) : (j.body ? String(j.body) : 'Brain returned no response.'); return r.length > 3900 ? r.substring(0, 3900) + '\\n\\n_(truncated)_' : r; })(), username: 'Engineering', icon_emoji: ':brain:' }) }}",
        "options": {}
      },
      "id": "post-slack-pr",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Extract PR Context", "type": "main", "index": 0 }
        ]
      ]
    },
    "Extract PR Context": {
      "main": [
        [
          { "node": "Call Brain API", "type": "main", "index": 0 }
        ]
      ]
    },
    "Call Brain API": {
      "main": [
        [
          { "node": "Post to Slack", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    { "name": "brain" },
    { "name": "engineering" },
    { "name": "pr" }
  ]
}
