infra/hetzner/workflows/cpa-tax-review.json
{
  "name": "CPA Tax Review",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cpa-review",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-cpa",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "response",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "responses": {
          "values": [
            {
              "type": "text",
              "role": "system",
              "content": "You are a CPA reviewing tax content for Paperwork Labs (paperworklabs.com). FileFree (filefree.ai) is the consumer tax filing product; Distill (distill.tax) is the B2B compliance automation platform that also serves CPA firms. Every insight must pass this test: 'Would I stake my CPA license on this being correct and helpful?'\n\nAdvisory quality standards — every AI tip must be:\n1. Specific to the user's data\n2. Actionable\n3. Correct (verified against current tax law)\n4. Conservative (understate when in doubt)\n5. Within Circular 230 bounds (education, not 'advice')\n\nReview checklist:\n- Dollar amounts mathematically correct\n- Tax law citations current (2025 tax year)\n- Specific to THIS user\n- Actionable\n- Within Circular 230 bounds\n- Appropriate caveats\n- No guarantees ('you WILL save' -> 'you could save')\n- Consistent across FileFree (consumer) and Distill (B2B) contexts\n\nWhen given tax content, produce:\n1. accuracy_verdict: pass/fail with explanation\n2. issues: list of problems found\n3. suggested_fixes: corrected versions\n4. circular_230_check: education vs advice\n5. tone_check: user-friendly and jargon-free\n\nReturn as structured JSON."
            }
          ]
        },
        "simplify": true,
        "options": {
          "temperature": 0.3,
          "textFormat": {
            "textOptions": [
              {
                "type": "json_object"
              }
            ]
          },
          "store": false
        }
      },
      "id": "openai-cpa",
      "name": "CPA Review",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        500,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = (($json.output || [])[0]?.content || []).find(c => c.type === 'output_text')?.text || '';\nconst date = new Date().toISOString().slice(0, 10);\nconst header = '*CPA Tax Review \\u2014 ' + date + '*';\nconst footer = '_Thread router: reply with a persona name for a focused take._';\nif (!raw.trim()) {\n  return [{ json: { formatted: ':warning: No output generated. Check workflow logs.\\n\\n' + footer } }];\n}\nlet body;\ntry {\n  const obj = JSON.parse(raw);\n  body = Object.entries(obj).map(([k, v]) => {\n    const label = k.replace(/_/g, ' ').replace(/\\b\\w/g, c => c.toUpperCase());\n    if (Array.isArray(v)) {\n      return '\\u2022 *' + label + '*:\\n' + v.map(item => '  - ' + (typeof item === 'object' ? JSON.stringify(item) : item)).join('\\n');\n    }\n    if (typeof v === 'object' && v !== null) {\n      return '\\u2022 *' + label + '*: ' + JSON.stringify(v);\n    }\n    return '\\u2022 *' + label + '*: ' + v;\n  }).join('\\n');\n} catch (e) {\n  body = raw;\n}\nreturn [{ json: { formatted: header + '\\n\\n' + body + '\\n\\n' + footer } }];"
      },
      "id": "format-cpa-slack",
      "name": "Format for Slack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: 'C0AM01NHQ3Y', text: $json.formatted, username: 'CPA Advisor', icon_emoji: ':bar_chart:' }) }}"
      },
      "id": "slack-cpa",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1000,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "slack-cred",
          "name": "Slack Bot Token"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "CPA Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CPA Review": {
      "main": [
        [
          {
            "node": "Format for Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Slack": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "persona"
    },
    {
      "name": "cpa"
    },
    {
      "name": "slack"
    }
  ],
  "id": "4db09e98-3543-4b8c-9f3e-dc85a261937a"
}
