infra/hetzner/workflows/cpa-tax-review.json
{
  "name": "FileFree — CPA Tax Review",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cpa-review",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-cpa",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "content": "You are a CPA reviewing tax content for FileFree (filefree.tax). Every insight must pass this test: 'Would I stake my CPA license on this being correct and helpful?'\n\nAdvisory quality standards — every AI tip must be:\n1. Specific to the user's data\n2. Actionable\n3. Correct (verified against current tax law)\n4. Conservative (understate when in doubt)\n5. Within Circular 230 bounds (education, not 'advice')\n\nReview checklist:\n- Dollar amounts mathematically correct\n- Tax law citations current (2025 tax year)\n- Specific to THIS user\n- Actionable\n- Within Circular 230 bounds\n- Appropriate caveats\n- No guarantees ('you WILL save' -> 'you could save')\n\nWhen given tax content, produce:\n1. accuracy_verdict: pass/fail with explanation\n2. issues: list of problems found\n3. suggested_fixes: corrected versions\n4. circular_230_check: education vs advice\n5. tone_check: user-friendly and jargon-free\n\nReturn as structured JSON.",
              "role": "system"
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "responseFormat": "json_object"
        }
      },
      "id": "openai-cpa",
      "name": "CPA Review",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [500, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "resource": "page",
        "databaseId": { "__rl": true, "mode": "list", "value": "" },
        "title": "={{ 'CPA Review — ' + new Date().toISOString().slice(0,10) }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Review"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "paragraph",
              "richTextUi": {
                "richTextValues": [
                  { "text": "={{ $json.message.content }}" }
                ]
              }
            }
          ]
        }
      },
      "id": "notion-cpa",
      "name": "Save CPA Review",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [750, 300],
      "credentials": {
        "notionApi": {
          "id": "notion-cred",
          "name": "Notion"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "CPA Review", "type": "main", "index": 0 }]]
    },
    "CPA Review": {
      "main": [[{ "node": "Save CPA Review", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "persona" }, { "name": "cpa" }],
  "id": "4db09e98-3543-4b8c-9f3e-dc85a261937a"
}
