infra/hetzner/workflows/credential-expiry-check.json
{
  "name": "Credential Expiry Check",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "schedule-expiry",
      "name": "Daily 8am PT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.VAULT_URL || 'https://paperworklabs.com' }}/api/secrets",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SECRETS_API_KEY }}"
            }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "fetch-secrets",
      "name": "Fetch Vault Secrets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "const secrets = $input.first().json.data || [];\nconst now = new Date();\n\nconst expiring = secrets\n  .filter(s => s.expires_at)\n  .map(s => {\n    const exp = new Date(s.expires_at);\n    const daysLeft = Math.ceil((exp - now) / (1000 * 60 * 60 * 24));\n    return { ...s, daysLeft, expiresDate: exp.toISOString().split('T')[0] };\n  })\n  .filter(s => s.daysLeft <= 30 && s.daysLeft > -7)\n  .sort((a, b) => a.daysLeft - b.daysLeft);\n\nif (expiring.length === 0) {\n  return [{ json: { skip: true, message: 'No credentials expiring within 30 days.' } }];\n}\n\nconst critical = expiring.filter(s => s.daysLeft <= 1);\nconst urgent = expiring.filter(s => s.daysLeft > 1 && s.daysLeft <= 7);\nconst warning = expiring.filter(s => s.daysLeft > 7 && s.daysLeft <= 14);\nconst notice = expiring.filter(s => s.daysLeft > 14 && s.daysLeft <= 30);\n\nlet emoji = ':clock1:';\nif (critical.length > 0) emoji = ':fire:';\nelse if (urgent.length > 0) emoji = ':rotating_light:';\nelse if (warning.length > 0) emoji = ':warning:';\n\nconst formatList = (items) => items.map(s => \n  `  \\u2022 *${s.name}* (${s.service || 'unknown'}) — ${s.daysLeft <= 0 ? 'EXPIRED' : s.daysLeft + ' days'} (${s.expiresDate})`\n).join('\\n');\n\nconst parts = [`${emoji} *Credential Expiry Report*\\n`];\n\nif (critical.length > 0) parts.push(`:fire: *EXPIRED / EXPIRING TODAY:*\\n${formatList(critical)}\\n`);\nif (urgent.length > 0) parts.push(`:rotating_light: *Expiring this week:*\\n${formatList(urgent)}\\n`);\nif (warning.length > 0) parts.push(`:warning: *Expiring in 2 weeks:*\\n${formatList(warning)}\\n`);\nif (notice.length > 0) parts.push(`:clock1: *Expiring within 30 days:*\\n${formatList(notice)}\\n`);\n\nparts.push('_Rotate these before expiry to avoid outages. See `.env.secrets` for locations._');\n\nreturn [{ json: { skip: false, message: parts.join('\\n'), channel: 'C0ALVM4PAE7' } }];"
      },
      "id": "check-expiry",
      "name": "Check Expiry Dates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skip }}",
              "value2": true,
              "operation": "notEqual"
            }
          ]
        }
      },
      "id": "should-alert",
      "name": "Has Expiring?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SLACK_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "channel", "value": "={{ $json.channel }}" },
            { "name": "text", "value": "={{ $json.message }}" },
            { "name": "username", "value": "Engineering" },
            { "name": "icon_emoji", "value": ":key:" }
          ]
        },
        "options": {}
      },
      "id": "post-slack",
      "name": "Post to #alerts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 250]
    },
    {
      "parameters": {},
      "id": "no-op",
      "name": "No Action",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1250, 400]
    }
  ],
  "connections": {
    "Daily 8am PT": {
      "main": [[{ "node": "Fetch Vault Secrets", "type": "main", "index": 0 }]]
    },
    "Fetch Vault Secrets": {
      "main": [[{ "node": "Check Expiry Dates", "type": "main", "index": 0 }]]
    },
    "Check Expiry Dates": {
      "main": [[{ "node": "Has Expiring?", "type": "main", "index": 0 }]]
    },
    "Has Expiring?": {
      "main": [
        [{ "node": "Post to #alerts", "type": "main", "index": 0 }],
        [{ "node": "No Action", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "timezone": "America/Los_Angeles" },
  "tags": [{ "name": "infrastructure" }, { "name": "security" }]
}
