infra/hetzner/workflows/data-source-monitor.json
{
  "name": "Data Source Monitor (P2.8)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * 1"
            }
          ]
        }
      },
      "id": "schedule-weekly",
      "name": "Weekly Trigger (Mon 6am PT)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const sources = [\n  {\n    name: 'Tax Foundation - State Income Tax Rates',\n    url: 'https://taxfoundation.org/data/all/state/state-income-tax-rates',\n    key: 'tf_income_rates'\n  },\n  {\n    name: 'Tax Foundation - State Sales Tax Rates',\n    url: 'https://taxfoundation.org/data/all/state/state-and-local-sales-tax-rates',\n    key: 'tf_sales_rates'\n  },\n  {\n    name: 'Tax Foundation - State Corporate Tax Rates',\n    url: 'https://taxfoundation.org/data/all/state/state-corporate-income-tax-rates-brackets',\n    key: 'tf_corp_rates'\n  }\n];\n\nconst state = $getWorkflowStaticData('global');\nif (!state.hashes) state.hashes = {};\nif (!state.lastRun) state.lastRun = null;\n\nconst results = [];\n\nfor (const source of sources) {\n  try {\n    const resp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: source.url,\n      headers: {\n        'User-Agent': 'Mozilla/5.0 (compatible; PaperworkLabs/1.0; data-monitor)',\n        'Accept': 'text/html'\n      },\n      returnFullResponse: true,\n      timeout: 15000\n    });\n\n    const body = typeof resp === 'string' ? resp : (resp.body || '');\n    const text = String(body).replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n      .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n      .replace(/<[^>]+>/g, ' ')\n      .replace(/\\s+/g, ' ')\n      .trim()\n      .slice(0, 50000);\n\n    // Simple hash: sum of char codes mod large prime\n    let hash = 0;\n    for (let i = 0; i < text.length; i++) {\n      hash = ((hash << 5) - hash + text.charCodeAt(i)) | 0;\n    }\n    const hashStr = String(hash);\n\n    const prevHash = state.hashes[source.key] || null;\n    const changed = prevHash !== null && prevHash !== hashStr;\n\n    results.push({\n      name: source.name,\n      url: source.url,\n      key: source.key,\n      status: 'ok',\n      changed,\n      isFirstRun: prevHash === null,\n      contentLength: text.length\n    });\n\n    state.hashes[source.key] = hashStr;\n  } catch (e) {\n    results.push({\n      name: source.name,\n      url: source.url,\n      key: source.key,\n      status: 'error',\n      error: String(e).slice(0, 200),\n      changed: false,\n      isFirstRun: false,\n      contentLength: 0\n    });\n  }\n}\n\nstate.lastRun = new Date().toISOString();\n\nreturn [{ json: { results, lastRun: state.lastRun } }];"
      },
      "id": "check-sources",
      "name": "Check Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "const { results, lastRun } = $input.first().json;\nconst botToken = $env.SLACK_BOT_TOKEN || '';\nif (!botToken) return [];\n\nconst changed = results.filter(r => r.changed);\nconst errors = results.filter(r => r.status === 'error');\nconst firstRuns = results.filter(r => r.isFirstRun);\n\nif (changed.length === 0 && errors.length === 0 && firstRuns.length === 0) {\n  return [];\n}\n\nconst parts = [];\n\nif (changed.length > 0) {\n  parts.push(':rotating_light: *Data Source Changes Detected*\\n');\n  parts.push('The following tax data sources have changed since last check:');\n  for (const c of changed) {\n    parts.push(`\\u2022 *${c.name}*: <${c.url}|View page>`);\n  }\n  parts.push('\\n:point_right: Run `pnpm extract:tax` and `pnpm review` in `packages/data` to update.');\n}\n\nif (errors.length > 0) {\n  parts.push('\\n:warning: *Source Fetch Errors*');\n  for (const e of errors) {\n    parts.push(`\\u2022 ${e.name}: ${e.error}`);\n  }\n}\n\nif (firstRuns.length > 0 && changed.length === 0) {\n  parts.push(':white_check_mark: *Data Source Monitor — Baseline Set*\\n');\n  parts.push(`Monitoring ${results.length} source(s). Will alert on content changes.`);\n}\n\nconst message = parts.join('\\n');\nreturn [{ json: { message, channel: 'C0ALVM4PAE7' } }];"
      },
      "id": "format-alert",
      "name": "Format Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SLACK_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $json.channel, text: $json.message, unfurl_links: false }) }}"
      },
      "id": "post-slack",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Weekly Trigger (Mon 6am PT)": {
      "main": [[{ "node": "Check Sources", "type": "main", "index": 0 }]]
    },
    "Check Sources": {
      "main": [[{ "node": "Format Alert", "type": "main", "index": 0 }]]
    },
    "Format Alert": {
      "main": [[{ "node": "Post to Slack", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Los_Angeles",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "tags": [{ "name": "data-quality" }]
}
