infra/hetzner/workflows/ea-weekly.json
{
  "name": "EA Weekly Plan",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * 0"
            }
          ]
        }
      },
      "id": "schedule-weekly",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/paperwork-labs/paperwork/contents/docs/TASKS.md",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Accept", "value": "application/vnd.github.v3.raw" }] },
        "options": {}
      },
      "id": "fetch-tasks-weekly",
      "name": "Fetch TASKS.md",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [500, 300],
      "credentials": { "httpHeaderAuth": { "id": "github-cred", "name": "GitHub PAT" } }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/paperwork-labs/paperwork/contents/docs/KNOWLEDGE.md",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Accept", "value": "application/vnd.github.v3.raw" }] },
        "options": {}
      },
      "id": "fetch-knowledge-weekly",
      "name": "Fetch KNOWLEDGE.md",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [750, 300],
      "credentials": { "httpHeaderAuth": { "id": "github-cred", "name": "GitHub PAT" } }
    },
    {
      "parameters": {
        "jsCode": "const tasksRaw = $('Fetch TASKS.md').first().json.data || JSON.stringify($('Fetch TASKS.md').first().json);\nconst knowledgeRaw = $('Fetch KNOWLEDGE.md').first().json.data || JSON.stringify($('Fetch KNOWLEDGE.md').first().json);\n\n// Trim TASKS.md: keep header + active/incomplete phases\nconst tasksLines = String(tasksRaw).split('\\n');\nconst trimmedTasks = [];\nlet keep = true;\nlet headerDone = false;\nfor (const line of tasksLines) {\n  if (line.startsWith('## Phase') || line.startsWith('## Section')) {\n    headerDone = true;\n    const isDone = /COMPLETE|completed|100%/i.test(line);\n    keep = !isDone;\n  }\n  if (!headerDone || keep) trimmedTasks.push(line);\n}\nconst tasks = trimmedTasks.join('\\n').slice(0, 15000);\n\n// Trim KNOWLEDGE.md: Front-and-Center + last 20 entries (weekly gets more context)\nconst kLines = String(knowledgeRaw).split('\\n');\nconst frontAndCenter = [];\nlet inFAC = false;\nfor (const line of kLines) {\n  if (/^#.*Front.and.Center/i.test(line)) inFAC = true;\n  if (inFAC) {\n    frontAndCenter.push(line);\n    if (frontAndCenter.length > 1 && /^---/.test(line)) break;\n  }\n}\nconst decisionBlocks = String(knowledgeRaw).split(/(?=^### D\\d+)/m);\nconst recentDecisions = decisionBlocks.slice(-20).join('\\n');\nconst knowledge = (frontAndCenter.join('\\n') + '\\n\\n--- Recent Decisions ---\\n' + recentDecisions).slice(0, 10000);\n\nlet vmpSummary = '';\ntry {\n  const ghToken = $env.GITHUB_TOKEN || '';\n  const headers = { Accept: 'application/vnd.github.v3.raw', 'User-Agent': 'n8n-paperwork' };\n  if (ghToken) headers.Authorization = `Bearer ${ghToken}`;\n  vmpSummary = await this.helpers.httpRequest({ method: 'GET', url: 'https://api.github.com/repos/paperwork-labs/paperwork/contents/docs/VMP-SUMMARY.md', headers });\n  if (typeof vmpSummary !== 'string') vmpSummary = JSON.stringify(vmpSummary);\n  vmpSummary = vmpSummary.slice(0, 6000);\n} catch (e) { vmpSummary = '[VMP-SUMMARY.md not available]'; }\n\nreturn [{ json: { tasks, knowledge, vmpSummary } }];"
      },
      "id": "trim-context-weekly",
      "name": "Trim Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "response",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "responses": {
          "values": [
            {
              "type": "text",
              "role": "system",
              "content": "You are the EA / Operator persona for Paperwork Labs. You generate a comprehensive weekly plan every Sunday evening to set up the founders for a productive week.\n\nFormat for Slack mrkdwn:\n- Use *bold* for section headers\n- Use \u2022 for bullet points\n- Use _italic_ for emphasis\n- Be thorough but scannable \u2014 this is the founders' weekly game plan\n\nSections to include:\n1. *This Week in Review* \u2014 what got done, what got missed, notable wins\n2. *Sprint Progress* \u2014 current phase status against the master plan timeline\n3. *Next Week Priorities* \u2014 top 3-5 priorities ranked by impact\n4. *Financial Snapshot* \u2014 any spend, revenue, or budget items to note\n5. *Upcoming Deadlines* \u2014 anything due in the next 7-14 days\n6. *Risks & Blockers* \u2014 items that could derail the week\n7. *Founder Action Items* \u2014 specific decisions or actions needed from each founder\n\nReference actual tasks, deadlines, and decisions. Cross-reference against the master plan timeline. No generic advice."
            },
            {
              "type": "text",
              "role": "user",
              "content": "=Today is {{ new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', timeZone: 'America/Los_Angeles' }) }}.\n\n--- TASKS (active phases) ---\n{{ $('Trim Context').first().json.tasks }}\n--- END TASKS ---\n\n--- KNOWLEDGE (front-and-center + recent) ---\n{{ $('Trim Context').first().json.knowledge }}\n--- END KNOWLEDGE ---\n\n--- VENTURE SUMMARY ---\n{{ $('Trim Context').first().json.vmpSummary }}\n--- END VENTURE SUMMARY ---\n\nGenerate the weekly plan for the upcoming week."
            }
          ]
        },
        "simplify": true,
        "options": {
          "temperature": 0.5,
          "store": false
        }
      },
      "id": "generate-weekly-plan",
      "name": "Generate Weekly Plan",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [1250, 300],
      "credentials": { "openAiApi": { "id": "openai-cred", "name": "OpenAI" } }
    },
    {
      "parameters": {
        "jsCode": "function sanitizeSlackMrkdwn(text) {\n  return String(text || '')\n    .replace(/\\*\\*(.+?)\\*\\*/g, '*$1*')\n    .replace(/\\[([^\\]]+)\\]\\(([^)]+)\\)/g, '<$2|$1>');\n}\n\nconst output = $json.output || [];\nconst aiText = (output[0]?.content || []).find(c => c.type === 'output_text')?.text || '';\nconst date = new Date().toISOString().split('T')[0];\nconst header = '*Weekly Plan \u2014 ' + date + '*\\n\\n';\nconst footer = '\\n\\n_Thread router: reply with a persona name for a focused take._';\nconst fallback = ':warning: No output generated. Check workflow logs.';\nconst body = aiText.trim() ? aiText.trim() : fallback;\nreturn [{ json: { text: sanitizeSlackMrkdwn(header + body + footer) } }];"
      },
      "id": "format-weekly-plan",
      "name": "Format Weekly Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: 'C0AMEQV199P', text: $json.text, username: 'EA / Operator', icon_emoji: ':astronaut:' }) }}",
        "options": {}
      },
      "id": "post-weekly-plan",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1750, 300],
      "credentials": { "httpHeaderAuth": { "id": "slack-cred", "name": "Slack Bot Token" } }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Fetch TASKS.md", "type": "main", "index": 0 }]]
    },
    "Fetch TASKS.md": {
      "main": [[{ "node": "Fetch KNOWLEDGE.md", "type": "main", "index": 0 }]]
    },
    "Fetch KNOWLEDGE.md": {
      "main": [[{ "node": "Trim Context", "type": "main", "index": 0 }]]
    },
    "Trim Context": {
      "main": [[{ "node": "Generate Weekly Plan", "type": "main", "index": 0 }]]
    },
    "Generate Weekly Plan": {
      "main": [[{ "node": "Format Weekly Plan", "type": "main", "index": 0 }]]
    },
    "Format Weekly Plan": {
      "main": [[{ "node": "Post to Slack", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "agent" }, { "name": "ea" }, { "name": "weekly" }],
  "id": "c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f"
}