infra/hetzner/workflows/infra-health-check.json
{
  "name": "Infra Health Check",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\n\nlet totalCount = 0;\nlet activeCount = 0;\nlet inactiveNames = [];\nlet livenessStatus = '000';\n\ntry {\n  const allIds = execSync('n8n list:workflow --onlyId 2>/dev/null', { encoding: 'utf8' }).trim();\n  totalCount = allIds ? allIds.split('\\n').length : 0;\n} catch (e) {\n  totalCount = -1;\n}\n\ntry {\n  const activeIds = execSync('n8n list:workflow --active=true --onlyId 2>/dev/null', { encoding: 'utf8' }).trim();\n  activeCount = activeIds ? activeIds.split('\\n').length : 0;\n} catch (e) {\n  activeCount = -1;\n}\n\nif (activeCount >= 0 && totalCount > 0 && activeCount < totalCount) {\n  try {\n    const inactive = execSync('n8n list:workflow --active=false 2>/dev/null', { encoding: 'utf8' }).trim();\n    inactiveNames = inactive.split('\\n').filter(Boolean);\n  } catch (e) {}\n}\n\ntry {\n  const resp = execSync(\"curl -sf -o /dev/null -w '%{http_code}' http://localhost:5678/ --max-time 5 2>/dev/null\", { encoding: 'utf8' }).trim();\n  livenessStatus = resp || '000';\n} catch (e) {\n  livenessStatus = '000';\n}\n\nconst healthy = totalCount > 0 && activeCount === totalCount && livenessStatus === '200';\n\nreturn [{\n  json: {\n    healthy,\n    totalCount,\n    activeCount,\n    inactiveNames,\n    livenessStatus\n  }\n}];"
      },
      "id": "run-health-checks",
      "name": "Run Health Checks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "const check = $input.first().json;\nconst state = $getWorkflowStaticData('global');\n\nconst botToken = $env.SLACK_BOT_TOKEN || '';\nif (!botToken) {\n  return [];\n}\n\nconst currentFingerprint = `${check.healthy}|${check.activeCount}/${check.totalCount}|${check.livenessStatus}`;\nconst prevFingerprint = state.lastFingerprint || '';\nconst prevHealthy = state.lastHealthy !== false;\n\nif (currentFingerprint === prevFingerprint) {\n  return [];\n}\n\nstate.lastFingerprint = currentFingerprint;\nstate.lastHealthy = check.healthy;\nstate.lastCheckedAt = new Date().toISOString();\n\nlet message = '';\n\nif (!check.healthy) {\n  const parts = [':rotating_light: *Infra Health Check — ISSUES DETECTED*\\n'];\n  parts.push(`*Workflows*: ${check.activeCount}/${check.totalCount} active`);\n  if (check.inactiveNames && check.inactiveNames.length > 0) {\n    parts.push(`  Inactive: ${check.inactiveNames.join(', ')}`);\n  }\n  parts.push(`*n8n liveness*: ${check.livenessStatus}`);\n  message = parts.join('\\n');\n} else if (!prevHealthy) {\n  message = `:white_check_mark: *Infra Health Check — All clear*\\n${check.activeCount}/${check.totalCount} workflows active. n8n healthy.`;\n} else {\n  return [];\n}\n\nreturn [{ json: { message, channel: 'C0ALLJWR1HV' } }];"
      },
      "id": "evaluate-dedup",
      "name": "Evaluate and Dedup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SLACK_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "={{ $json.channel }}"
            },
            {
              "name": "text",
              "value": "={{ $json.message }}"
            },
            {
              "name": "username",
              "value": "Engineering"
            },
            {
              "name": "icon_emoji",
              "value": ":gear:"
            }
          ]
        },
        "options": {}
      },
      "id": "post-to-slack",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Run Health Checks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Health Checks": {
      "main": [
        [
          {
            "node": "Evaluate and Dedup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate and Dedup": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {},
  "id": "e1f2a3b4-c5d6-4e7f-8a9b-0c1d2e3f4a5b"
}
