infra/hetzner/workflows/infra-health-check.json
{
  "name": "Infra Health Check",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const apiKey = $env.N8N_API_KEY;\nlet total = 0, active = 0, inactiveNames = [], liveness = '000';\n\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: 'http://localhost:5678/api/v1/workflows?limit=250',\n    headers: { 'X-N8N-API-KEY': apiKey },\n  });\n  liveness = '200';\n  const workflows = resp.data || [];\n  total = workflows.length;\n  active = workflows.filter(w => w.active).length;\n  inactiveNames = workflows.filter(w => !w.active).map(w => w.name);\n} catch (e) {\n  // n8n REST API unreachable or auth failed\n}\n\nreturn [{\n  json: {\n    healthy: active === total && liveness === '200',\n    totalCount: total,\n    activeCount: active,\n    inactiveCount: total - active,\n    inactiveNames,\n    livenessStatus: liveness\n  }\n}];"
      },
      "id": "run-health-checks",
      "name": "Run Health Checks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "const check = $input.first().json;\nconst state = $getWorkflowStaticData('global');\n\nconst botToken = $env.SLACK_BOT_TOKEN || '';\nif (!botToken) {\n  return [];\n}\n\nconst currentFingerprint = `${check.healthy}|${check.activeCount}/${check.totalCount}|${check.livenessStatus}`;\nconst prevFingerprint = state.lastFingerprint || '';\nconst prevHealthy = state.lastHealthy !== false;\n\nif (currentFingerprint === prevFingerprint) {\n  return [];\n}\n\nstate.lastFingerprint = currentFingerprint;\nstate.lastHealthy = check.healthy;\nstate.lastCheckedAt = new Date().toISOString();\n\nlet message = '';\n\nif (!check.healthy) {\n  const parts = [':rotating_light: *Infra Health Check — ISSUES DETECTED*\\n'];\n  parts.push(`*Workflows*: ${check.activeCount}/${check.totalCount} active`);\n  if (check.inactiveNames && check.inactiveNames.length > 0) {\n    parts.push(`  Inactive: ${check.inactiveNames.join(', ')}`);\n  }\n  parts.push(`*n8n liveness*: ${check.livenessStatus}`);\n  message = parts.join('\\n');\n} else if (!prevHealthy) {\n  message = `:white_check_mark: *Infra Health Check — All clear*\\n${check.activeCount}/${check.totalCount} workflows active. n8n healthy.`;\n} else {\n  return [];\n}\n\nreturn [{ json: { message, channel: 'C0ALVM4PAE7' } }];"
      },
      "id": "evaluate-dedup",
      "name": "Evaluate and Dedup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SLACK_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "={{ $json.channel }}"
            },
            {
              "name": "text",
              "value": "={{ $json.message }}"
            },
            {
              "name": "username",
              "value": "Engineering"
            },
            {
              "name": "icon_emoji",
              "value": ":gear:"
            }
          ]
        },
        "options": {}
      },
      "id": "post-to-slack",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Run Health Checks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Health Checks": {
      "main": [
        [
          {
            "node": "Evaluate and Dedup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate and Dedup": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {},
  "id": "e1f2a3b4-c5d6-4e7f-8a9b-0c1d2e3f4a5b"
}
