infra/hetzner/workflows/infra-heartbeat.json
{
  "name": "Infra Heartbeat",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "schedule-heartbeat",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const apiKey = $env.N8N_API_KEY;\nlet total = 0, active = 0, inactiveNames = [], liveness = '000';\n\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: 'http://localhost:5678/api/v1/workflows?limit=250',\n    headers: { 'X-N8N-API-KEY': apiKey },\n  });\n  liveness = '200';\n  const workflows = resp.data || [];\n  total = workflows.length;\n  active = workflows.filter(w => w.active).length;\n  inactiveNames = workflows.filter(w => !w.active).map(w => w.name);\n} catch (e) {\n  // n8n REST API unreachable or auth failed\n}\n\nreturn [{\n  json: {\n    healthy: active === total && liveness === '200',\n    totalCount: total,\n    activeCount: active,\n    inactiveCount: total - active,\n    inactiveNames,\n    livenessStatus: liveness\n  }\n}];"
      },
      "id": "run-health-checks",
      "name": "Run Health Checks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "const check = $input.first().json;\nconst botToken = $env.SLACK_BOT_TOKEN || '';\nif (!botToken) return [];\n\nconst now = new Date().toLocaleString('en-US', { timeZone: 'America/Los_Angeles', dateStyle: 'medium', timeStyle: 'short' });\n\nlet message = '';\nif (check.healthy) {\n  message = `:white_check_mark: *Daily Heartbeat* — ${now}\\n\\n• ${check.activeCount}/${check.totalCount} workflows active\\n• n8n reachable (${check.livenessStatus})\\n\\nAll systems operational.`;\n} else {\n  const parts = [`:warning: *Daily Heartbeat — ISSUES DETECTED* — ${now}\\n`];\n  parts.push(`• Workflows: ${check.activeCount}/${check.totalCount} active`);\n  if (check.inactiveNames && check.inactiveNames.length > 0) {\n    parts.push(`• Inactive: ${check.inactiveNames.join(', ')}`);\n  }\n  parts.push(`• n8n liveness: ${check.livenessStatus}`);\n  message = parts.join('\\n');\n}\n\nreturn [{ json: { message, channel: 'C0ALVM4PAE7' } }];"
      },
      "id": "format-heartbeat",
      "name": "Format Heartbeat",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SLACK_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "channel", "value": "={{ $json.channel }}" },
            { "name": "text", "value": "={{ $json.message }}" },
            { "name": "username", "value": "Engineering" },
            { "name": "icon_emoji", "value": ":heartbeat:" }
          ]
        },
        "options": {}
      },
      "id": "post-heartbeat",
      "name": "Post Heartbeat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          { "node": "Run Health Checks", "type": "main", "index": 0 }
        ]
      ]
    },
    "Run Health Checks": {
      "main": [
        [
          { "node": "Format Heartbeat", "type": "main", "index": 0 }
        ]
      ]
    },
    "Format Heartbeat": {
      "main": [
        [
          { "node": "Post Heartbeat", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "pinData": {},
  "id": "h1e2a3r4-t5b6-4e7a-8t9h-0e1a2r3t4b5e"
}
