infra/hetzner/workflows/partnership-outreach-drafter.json
{
  "name": "Partnership Outreach Drafter",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "partnership-outreach",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-partnerships",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "response",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "responses": {
          "values": [
            {
              "type": "text",
              "role": "system",
              "content": "You are the Partnership Development Assistant for Paperwork Labs (paperworklabs.com). You support a partnerships co-founder (Founder 2) who has a FAANG background, two young kids, and 2-3 hours per week. Every deliverable must be ready to use in under 10 minutes.\n\nPaperwork Labs builds tools that eliminate paperwork:\n- FileFree (filefree.ai): Free AI-powered tax filing. Shows users their refund amount and presents personalized financial product recommendations at the moment of highest financial intent.\n- LaunchFree (launchfree.ai): Free LLC formation. Users form their LLC for free and get recommended banking, payroll, insurance, and compliance services.\n- Distill (distill.tax): B2B compliance automation APIs + CPA SaaS. Partners integrate tax, formation, and compliance via API.\n\nPartnership hit list:\nFileFree: Marcus by Goldman Sachs (HYSA), Wealthfront (HYSA+investment), Betterment (investment), Fidelity (IRA/brokerage), Column Tax (e-file SDK), Refundo (refund advance).\nLaunchFree: Mercury (business banking), Relay (business banking), Gusto (payroll), Deel (international payroll), Next Insurance (business insurance), Northwest RA (registered agent).\nDistill: CPA firms, fintech platforms, law firms, accounting software vendors.\n\nRevenue context: Partnership revenue = 77% of projected FileFree revenue. LaunchFree revenue comes from banking/payroll/insurance referrals + Compliance-as-a-Service ($49-99/yr).\n\nOutput formats (produce ONE based on request):\n1. outreach_email: subject, body, CTA. Ready to send.\n2. deal_summary: one-page brief with partner details, pricing targets, questions.\n3. call_prep: 5-min read with agenda, our ask, their concerns.\n4. pipeline_update: partners by status, next actions.\n\nReturn as structured JSON matching the requested format."
            }
          ]
        },
        "simplify": true,
        "options": {
          "temperature": 0.6,
          "textFormat": {
            "textOptions": [
              {
                "type": "json_object"
              }
            ]
          },
          "store": false
        }
      },
      "id": "openai-partnerships",
      "name": "Draft Partnership Content",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        500,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function sanitizeSlackMrkdwn(text) {\n  return String(text || '')\n    .replace(/\\*\\*(.+?)\\*\\*/g, '*$1*')\n    .replace(/\\[([^\\]]+)\\]\\(([^)]+)\\)/g, '<$2|$1>');\n}\n\nconst raw = (($json.output || [])[0]?.content || []).find(c => c.type === 'output_text')?.text || '';\nconst date = new Date().toISOString().slice(0, 10);\nconst header = '*Partnership Outreach \\u2014 ' + date + '*';\nconst footer = '_Thread router: reply with a persona name for a focused take._';\nif (!raw.trim()) {\n  return [{ json: { formatted: sanitizeSlackMrkdwn(':warning: No output generated. Check workflow logs.\\n\\n' + footer) } }];\n}\nlet body;\ntry {\n  const obj = JSON.parse(raw);\n  body = Object.entries(obj).map(([k, v]) => {\n    const label = k.replace(/_/g, ' ').replace(/\\b\\w/g, c => c.toUpperCase());\n    if (Array.isArray(v)) {\n      return '\\u2022 *' + label + '*:\\n' + v.map(item => '  - ' + (typeof item === 'object' ? JSON.stringify(item) : item)).join('\\n');\n    }\n    if (typeof v === 'object' && v !== null) {\n      return '\\u2022 *' + label + '*: ' + JSON.stringify(v);\n    }\n    return '\\u2022 *' + label + '*: ' + v;\n  }).join('\\n');\n} catch (e) {\n  body = raw;\n}\nreturn [{ json: { formatted: sanitizeSlackMrkdwn(header + '\\n\\n' + body + '\\n\\n' + footer) } }];"
      },
      "id": "format-partnerships-slack",
      "name": "Format for Slack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: 'C0AM01NHQ3Y', text: $json.formatted, username: 'Partnerships', icon_emoji: ':handshake:' }) }}"
      },
      "id": "slack-partnerships",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1000,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "slack-cred",
          "name": "Slack Bot Token"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Draft Partnership Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Partnership Content": {
      "main": [
        [
          {
            "node": "Format for Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Slack": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "persona"
    },
    {
      "name": "partnerships"
    },
    {
      "name": "slack"
    }
  ],
  "id": "c98f5733-df5f-4523-854b-fad01c98521a"
}