infra/hetzner/workflows/partnership-outreach-drafter.json
{
  "name": "FileFree — Partnership Outreach Drafter",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "partnership-outreach",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-partnerships",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "content": "You are the Partnership Development Assistant for FileFree (filefree.tax). You support a partnerships co-founder (Founder 2) who has a FAANG background, two young kids, and 2-3 hours per week. Every deliverable must be ready to use in under 10 minutes.\n\nFileFree positioning for partners: 'FileFree is a free, AI-powered tax filing app. We show users their refund amount and present personalized financial product recommendations at the moment of highest financial intent.'\n\nPartnership hit list: Marcus by Goldman Sachs (HYSA), Wealthfront (HYSA+investment), Betterment (investment), Fidelity (IRA/brokerage), Column Tax (e-file SDK), Refundo (refund advance).\n\nRevenue context: Partnership revenue = 77% of projected revenue.\n\nOutput formats (produce ONE based on request):\n1. outreach_email: subject, body, CTA. Ready to send.\n2. deal_summary: one-page brief with partner details, pricing targets, questions.\n3. call_prep: 5-min read with agenda, our ask, their concerns.\n4. pipeline_update: partners by status, next actions.\n\nReturn as structured JSON matching the requested format.",
              "role": "system"
            }
          ]
        },
        "options": {
          "temperature": 0.6,
          "responseFormat": "json_object"
        }
      },
      "id": "openai-partnerships",
      "name": "Draft Partnership Content",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [500, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "resource": "page",
        "databaseId": { "__rl": true, "mode": "list", "value": "" },
        "title": "={{ $json.message.content.subject || $json.message.content.partner || 'Partnership Draft' }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Draft"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "paragraph",
              "richTextUi": {
                "richTextValues": [
                  { "text": "={{ $json.message.content }}" }
                ]
              }
            }
          ]
        }
      },
      "id": "notion-partnerships",
      "name": "Save to Partnership Pipeline",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [750, 300],
      "credentials": {
        "notionApi": {
          "id": "notion-cred",
          "name": "Notion"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Draft Partnership Content", "type": "main", "index": 0 }]]
    },
    "Draft Partnership Content": {
      "main": [[{ "node": "Save to Partnership Pipeline", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "persona" }, { "name": "partnerships" }],
  "id": "c98f5733-df5f-4523-854b-fad01c98521a"
}
