infra/hetzner/workflows/pr-summary.json
{
  "name": "PR Summary",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-pr",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-pr",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const incoming = $input.first().json || {};\nconst body = (incoming.body && typeof incoming.body === 'object' && incoming.body.action) ? incoming.body : incoming;\nconst action = body.action || '';\nconst acceptedActions = new Set(['opened', 'ready_for_review', 'reopened', 'synchronize']);\n\nif (!acceptedActions.has(action)) return [];\n\nconst pr = body.pull_request || {};\nconst repo = body.repository || {};\nconst base = pr.base || {};\nconst head = pr.head || {};\n\nreturn [{ json: {\n  title: pr.title || '',\n  body: pr.body || '(no description)',\n  html_url: pr.html_url || '',\n  author: (pr.user && pr.user.login) || 'unknown',\n  changed_files: pr.changed_files || 0,\n  additions: pr.additions || 0,\n  deletions: pr.deletions || 0,\n  action,\n  pr_number: pr.number || body.number || null,\n  repo_full_name: repo.full_name || 'paperwork-labs/paperwork',\n  base_branch: base.ref || 'main',\n  head_branch: head.ref || ''\n}}];"
      },
      "id": "filter-pr-events",
      "name": "Filter PR Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "response",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "responses": {
          "values": [
            {
              "type": "text",
              "role": "system",
              "content": "You are the Engineering persona for Paperwork Labs. Summarize pull requests for the team in Slack.\n\nRules:\n- 2-3 bullet points of what changed and why\n- Flag any concerns: security implications, breaking changes, missing tests, PII exposure\n- Format for Slack mrkdwn (*bold*, \u2022 bullets, _italic_)\n- Be concise \u2014 engineers skim these\n- If the PR touches auth, PII, or financial logic, add a :warning: flag\n- End with the PR link\n- Use Slack mrkdwn only: *bold* (never **bold**) and <url|text> (never [text](url))"
            },
            {
              "type": "text",
              "role": "user",
              "content": "=Repository: {{ $json.repo_full_name }}\nPR: *#{{ $json.pr_number }} {{ $json.title }}*\nAuthor: {{ $json.author }} | Action: {{ $json.action }}\nBranch: {{ $json.head_branch }} -> {{ $json.base_branch }}\nFiles changed: {{ $json.changed_files }} | +{{ $json.additions }} / -{{ $json.deletions }}\n\nDescription:\n{{ $json.body }}\n\nLink: {{ $json.html_url }}\n\nSummarize this PR for #engineering. End with a short \"Ask another persona in thread\" line that suggests legal, growth, social, QA, strategy, partnerships, CPA, or EA."
            }
          ]
        },
        "simplify": true,
        "options": {
          "temperature": 0.3,
          "store": false
        }
      },
      "id": "generate-pr-summary",
      "name": "Generate Summary",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        750,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "OpenAI"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: 'C0ALLEKR9FZ', text: $json.text, username: 'Engineering', icon_emoji: ':mage:' }) }}",
        "options": {}
      },
      "id": "post-pr-summary",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1000,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "slack-cred",
          "name": "Slack Bot Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function sanitizeSlackMrkdwn(text) {\n  return String(text || '')\n    .replace(/\\*\\*(.+?)\\*\\*/g, '*$1*')\n    .replace(/\\[([^\\]]+)\\]\\(([^)]+)\\)/g, '<$2|$1>');\n}\n\nconst src = $('Filter PR Events').first().json;\nconst output = $json.output || [];\nconst aiText = output[0]?.content?.find((part) => part.type === 'output_text')?.text || '';\n\nconst fallback = `<${src.html_url || ''}|PR #${src.pr_number || '?'}: ${src.title || 'Untitled'}>\\nRepo: ${src.repo_full_name} | ${src.head_branch || '?'} -> ${src.base_branch || '?'}\\nChanges: ${src.changed_files} files | +${src.additions} / -${src.deletions}\\n\\n_No AI summary available. Ask in thread for engineering, legal, QA, growth, social, strategy, partnerships, CPA, or EA._`;\n\nconst text = aiText.trim() ? sanitizeSlackMrkdwn(aiText) : sanitizeSlackMrkdwn(fallback);\nconst routerHint = '_Thread router: reply with `legal`, `growth`, `social`, `qa`, `strategy`, `engineering`, `cpa`, `partnerships`, or `ea` for a focused take._';\n\nreturn [{ json: { text: sanitizeSlackMrkdwn(`${text}\\n\\n${routerHint}`) } }];"
      },
      "id": "format-pr-message",
      "name": "Format Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter PR Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter PR Events": {
      "main": [
        [
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary": {
      "main": [
        [
          {
            "node": "Format Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Slack Message": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "agent"
    },
    {
      "name": "engineering"
    },
    {
      "name": "pr"
    }
  ],
  "id": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f8a"
}