infra/hetzner/workflows/qa-security-scan.json
{
  "name": "QA Security Scan",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "qa-scan",
        "responseMode": "lastNode",
        "options": {},
        "authentication": "headerAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "webhook-secret",
          "name": "Webhook Secret"
        }
      },
      "id": "webhook-qa",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "response",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "responses": {
          "values": [
            {
              "type": "text",
              "role": "system",
              "content": "You are the QA Lead for Paperwork Labs (paperworklabs.com), which builds financial products that handle SSNs, EINs, and sensitive business data. Products: FileFree (filefree.ai) \u2014 tax filing, LaunchFree (launchfree.ai) \u2014 LLC formation, Distill (distill.tax) \u2014 B2B compliance APIs. Bugs have real consequences: wrong refund amounts, IRS rejections, identity exposure, failed state filings.\n\nSecurity priorities:\n- PII Leak Detection: SSN/EIN must never appear in logs, analytics, console, error messages, API responses (except masked), URL params, or LLM API payloads.\n- Authentication: All protected routes need 401 without session, CSRF on state-changing endpoints, rate limiting. Distill B2B routes need API key auth with firm-scoped isolation.\n- Input Validation: Every endpoint tested with malformed input, SQL injection, XSS.\n- Tax Calculations: 100% test coverage required. All in cents (integers), no floats.\n- Formation Data: State filing submissions must be validated against per-state schemas.\n- B2B Isolation: Distill firm data must be tenant-isolated, no cross-firm access.\n\nWhen given code or a feature description, produce a structured security audit:\n1. critical_issues: Must fix before shipping\n2. high_issues: Important but not blocking\n3. medium_issues: Should fix soon\n4. test_cases: Specific test cases to add\n5. checklist: Pre-merge checklist items\n\nReturn as structured JSON."
            }
          ]
        },
        "simplify": true,
        "options": {
          "temperature": 0.3,
          "textFormat": {
            "textOptions": [
              {
                "type": "json_object"
              }
            ]
          },
          "store": false
        }
      },
      "id": "openai-qa",
      "name": "Security Audit",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        500,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function sanitizeSlackMrkdwn(text) {\n  return String(text || '')\n    .replace(/\\*\\*(.+?)\\*\\*/g, '*$1*')\n    .replace(/\\[([^\\]]+)\\]\\(([^)]+)\\)/g, '<$2|$1>');\n}\n\nconst output = $json.output || [];\nconst rawText = (output[0]?.content || []).find(c => c.type === 'output_text')?.text || '';\nconst date = new Date().toISOString().split('T')[0];\nconst header = '*QA Security Scan \u2014 ' + date + '*\\n\\n';\nconst footer = '\\n\\n_Thread router: reply with a persona name for a focused take._';\nconst fallback = ':warning: No output generated. Check workflow logs.';\nlet body;\nif (!rawText.trim()) {\n  body = fallback;\n} else {\n  try {\n    const data = JSON.parse(rawText);\n    const sections = [];\n    for (const [key, value] of Object.entries(data)) {\n      const label = key.split('_').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n      if (Array.isArray(value)) {\n        sections.push('*' + label + '*\\n' + value.map(v => '\\u2022 ' + (typeof v === 'object' ? (v.description || v.title || JSON.stringify(v)) : String(v))).join('\\n'));\n      } else if (typeof value === 'object' && value !== null) {\n        sections.push('*' + label + '*\\n' + Object.entries(value).map(([k, v]) => '\\u2022 *' + k + '*: ' + String(v)).join('\\n'));\n      } else {\n        sections.push('*' + label + '*: ' + String(value));\n      }\n    }\n    body = sections.join('\\n\\n');\n  } catch (e) {\n    body = rawText;\n  }\n}\nreturn [{ json: { text: header + body + footer, rawText: rawText || fallback, date } }];"
      },
      "id": "format-qa-report",
      "name": "Format QA Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        625,
        400
      ]
    },
    {
      "parameters": {
        "owner": "paperwork-labs",
        "repository": "paperwork",
        "title": "={{ '[QA] Security Scan \u2014 ' + $json.date }}",
        "body": "={{ $json.rawText }}",
        "labels": [
          "security",
          "qa-scan"
        ]
      },
      "id": "github-qa",
      "name": "Create GitHub Issue",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        750,
        300
      ],
      "credentials": {
        "githubApi": {
          "id": "github-cred",
          "name": "GitHub"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: 'C0ALLEKR9FZ', text: $json.text, username: 'QA', icon_emoji: ':detective:' }) }}"
      },
      "id": "slack-qa",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        750,
        500
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "slack-cred",
          "name": "Slack Bot Token"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Security Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Security Audit": {
      "main": [
        [
          {
            "node": "Format QA Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format QA Report": {
      "main": [
        [
          {
            "node": "Create GitHub Issue",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "persona"
    },
    {
      "name": "qa"
    },
    {
      "name": "slack"
    }
  ],
  "id": "22ba64df-255d-4a42-a3a2-8d97ce884b1d"
}