infra/hetzner/workflows/sprint-close.json
{
  "name": "Sprint Close",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 21 * * 5"
            }
          ]
        }
      },
      "id": "schedule-sprint-close",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        250,
        340
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/paperwork-labs/paperwork/contents/docs/TASKS.md",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3.raw"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-tasks-close",
      "name": "Fetch TASKS.md",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        500,
        220
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-cred",
          "name": "GitHub PAT"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/paperwork-labs/paperwork/contents/docs/KNOWLEDGE.md",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "fetch-knowledge-close",
      "name": "Fetch KNOWLEDGE.md",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        500,
        340
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-cred",
          "name": "GitHub PAT"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/paperwork-labs/paperwork/commits?per_page=30",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "fetch-commits-close",
      "name": "Fetch Recent Commits",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        500,
        460
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-cred",
          "name": "GitHub PAT"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/paperwork-labs/paperwork/pulls?state=closed&sort=updated&direction=desc&per_page=20",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "fetch-prs-close",
      "name": "Fetch Recent PRs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        750,
        340
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-cred",
          "name": "GitHub PAT"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tasks = $('Fetch TASKS.md').first().json.data || JSON.stringify($('Fetch TASKS.md').first().json);\nconst knowledgeRaw = $('Fetch KNOWLEDGE.md').first().json.content || '';\nconst knowledge = Buffer.from(knowledgeRaw, 'base64').toString('utf8');\nconst commits = $('Fetch Recent Commits').first().json || [];\nconst prs = $('Fetch Recent PRs').first().json || [];\n\nconst commitSummary = (Array.isArray(commits) ? commits : []).slice(0, 15).map((c) => `- ${c.commit?.message || 'No message'} (${c.sha?.slice(0,7) || 'n/a'})`).join('\\n');\nconst prSummary = (Array.isArray(prs) ? prs : []).slice(0, 10).map((pr) => `- ${pr.title || 'Untitled'} (#${pr.number || '?'})`).join('\\n');\n\nconst prompt = `Close this 5-day sprint (Monday to Friday) with an honest retrospective.\\n\\nTASKS.md:\\n${tasks}\\n\\nRecent KNOWLEDGE entries:\\n${knowledge.slice(-2500)}\\n\\nCommits:\\n${commitSummary}\\n\\nClosed PRs:\\n${prSummary}\\n\\nReturn sections:\\n*What Shipped*\\n*What Slipped*\\n*Quality Report*\\n*Velocity Check*\\n*Next Sprint Preview*`;\n\nreturn [{ json: { prompt, knowledge, date: new Date().toISOString().slice(0,10) } }];"
      },
      "id": "build-close-prompt",
      "name": "Build Close Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        340
      ]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "response",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "responses": {
          "values": [
            {
              "type": "text",
              "role": "system",
              "content": "You are the Sprint Retrospective Panel for Paperwork Labs. Summarize a 5-day sprint with direct, specific, and actionable Slack markdown."
            },
            {
              "type": "text",
              "role": "user",
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "simplify": true,
        "options": {
          "temperature": 0.3,
          "store": false
        }
      },
      "id": "generate-close",
      "name": "Generate Retro",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1250,
        340
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = $json.output || [];\nconst text = output[0]?.content?.find((part) => part.type === 'output_text')?.text || 'Sprint retrospective generated but empty.';\nconst date = $('Build Close Prompt').first().json.date;\nconst title = `Sprint Close \u2014 ${date}`;\nconst entry = `### ${title}\\n\\n${text}\\n`;\nconst knowledge = $('Build Close Prompt').first().json.knowledge || '';\nconst updated = knowledge.trimEnd() + '\\n\\n' + entry + '\\n';\nconst encoded = Buffer.from(updated, 'utf8').toString('base64');\nconst sha = $('Fetch KNOWLEDGE.md').first().json.sha;\nreturn [{ json: { text, date, entry, encoded, sha } }];"
      },
      "id": "prepare-close-output",
      "name": "Prepare Close Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ JSON.stringify({ channel: 'C0AM3APFP99', text: '*Sprint Retro*\\n\\n' + $json.text, username: 'Sprint Retro', icon_emoji: ':bar_chart:' }) }",
        "options": {}
      },
      "id": "post-close-sprints",
      "name": "Post to #sprints",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1750,
        240
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "slack-cred",
          "name": "Slack Bot Token"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/paperwork-labs/paperwork/contents/docs/KNOWLEDGE.md",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: 'docs: log sprint close ' + $json.date, content: $json.encoded, sha: $json.sha }) }}",
        "options": {}
      },
      "id": "commit-close",
      "name": "Commit Sprint Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1750,
        440
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-cred",
          "name": "GitHub PAT"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch TASKS.md",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch KNOWLEDGE.md",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Recent Commits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch TASKS.md": {
      "main": [
        [
          {
            "node": "Fetch Recent PRs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch KNOWLEDGE.md": {
      "main": [
        [
          {
            "node": "Fetch Recent PRs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Recent Commits": {
      "main": [
        [
          {
            "node": "Fetch Recent PRs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Recent PRs": {
      "main": [
        [
          {
            "node": "Build Close Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Close Prompt": {
      "main": [
        [
          {
            "node": "Generate Retro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Retro": {
      "main": [
        [
          {
            "node": "Prepare Close Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Close Output": {
      "main": [
        [
          {
            "node": "Post to #sprints",
            "type": "main",
            "index": 0
          },
          {
            "node": "Commit Sprint Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "agent"
    },
    {
      "name": "sprint"
    }
  ],
  "id": "a9b0c1d2-e3f4-4a5b-b6c7-d8e9f0a1b2c3"
}
