infra/hetzner/workflows/venture-pr-summary.json
{
  "name": "Venture — PR Summary",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-pr",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-pr",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst action = body.action;\n\nif (action !== 'opened' && action !== 'ready_for_review') {\n  return [];\n}\n\nconst pr = body.pull_request || {};\n\nreturn [{\n  json: {\n    title: pr.title || '',\n    body: pr.body || '(no description)',\n    html_url: pr.html_url || '',\n    author: (pr.user && pr.user.login) || 'unknown',\n    changed_files: pr.changed_files || 0,\n    additions: pr.additions || 0,\n    deletions: pr.deletions || 0,\n    action: action\n  }\n}];"
      },
      "id": "filter-pr-events",
      "name": "Filter PR Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "content": "You are the Engineering persona for Paperwork Labs. Summarize pull requests for the team in Slack.\n\nRules:\n- 2-3 bullet points of what changed and why\n- Flag any concerns: security implications, breaking changes, missing tests, PII exposure\n- Format for Slack mrkdwn (*bold*, • bullets, _italic_)\n- Be concise — engineers skim these\n- If the PR touches auth, PII, or financial logic, add a :warning: flag\n- End with the PR link",
              "role": "system"
            },
            {
              "content": "=PR: *{{ $json.title }}* by {{ $json.author }} ({{ $json.action }})\nFiles changed: {{ $json.changed_files }} | +{{ $json.additions }} / -{{ $json.deletions }}\n\nDescription:\n{{ $json.body }}\n\nLink: {{ $json.html_url }}\n\nSummarize this PR for the #engineering channel.",
              "role": "user"
            }
          ]
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "generate-pr-summary",
      "name": "Generate Summary",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [750, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: 'C0ALLEKR9FZ', text: $json.message.content, username: 'Engineering', icon_emoji: ':gear:' }) }}",
        "options": {}
      },
      "id": "post-pr-summary",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "slack-cred",
          "name": "Slack Bot Token"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Filter PR Events", "type": "main", "index": 0 }]]
    },
    "Filter PR Events": {
      "main": [[{ "node": "Generate Summary", "type": "main", "index": 0 }]]
    },
    "Generate Summary": {
      "main": [[{ "node": "Post to Slack", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "agent" }, { "name": "engineering" }, { "name": "pr" }],
  "id": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f8a"
}
