infra/hetzner/workflows/venture-ea-weekly.json
{
  "name": "Venture — EA Weekly Plan",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * 0"
            }
          ]
        }
      },
      "id": "schedule-weekly",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/paperwork-labs/paperwork/contents/docs/TASKS.md",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github.v3.raw" }
          ]
        },
        "options": {}
      },
      "id": "fetch-tasks-weekly",
      "name": "Fetch TASKS.md",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-cred",
          "name": "GitHub PAT"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/paperwork-labs/paperwork/contents/docs/KNOWLEDGE.md",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github.v3.raw" }
          ]
        },
        "options": {}
      },
      "id": "fetch-knowledge-weekly",
      "name": "Fetch KNOWLEDGE.md",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-cred",
          "name": "GitHub PAT"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/paperwork-labs/paperwork/contents/docs/VENTURE_MASTER_PLAN.md",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github.v3.raw" }
          ]
        },
        "options": {}
      },
      "id": "fetch-master-plan",
      "name": "Fetch VENTURE_MASTER_PLAN.md",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-cred",
          "name": "GitHub PAT"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "content": "You are the EA / Operator persona for Paperwork Labs. You generate a comprehensive weekly plan every Sunday evening to set up the founders for a productive week.\n\nFormat for Slack mrkdwn:\n- Use *bold* for section headers\n- Use • for bullet points\n- Use _italic_ for emphasis\n- Be thorough but scannable — this is the founders' weekly game plan\n\nSections to include:\n1. *This Week in Review* — what got done, what got missed, notable wins\n2. *Sprint Progress* — current phase status against the master plan timeline\n3. *Next Week Priorities* — top 3-5 priorities ranked by impact\n4. *Financial Snapshot* — any spend, revenue, or budget items to note\n5. *Upcoming Deadlines* — anything due in the next 7-14 days\n6. *Risks & Blockers* — items that could derail the week\n7. *Founder Action Items* — specific decisions or actions needed from each founder\n\nReference actual tasks, deadlines, and decisions. Cross-reference against the master plan timeline. No generic advice.",
              "role": "system"
            },
            {
              "content": "=Today is {{ new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', timeZone: 'America/Los_Angeles' }) }}.\n\n--- TASKS.md ---\n{{ $('Fetch TASKS.md').first().json.data || JSON.stringify($('Fetch TASKS.md').first().json) }}\n--- END TASKS ---\n\n--- KNOWLEDGE.md (recent decisions) ---\n{{ $('Fetch KNOWLEDGE.md').first().json.data || JSON.stringify($('Fetch KNOWLEDGE.md').first().json) }}\n--- END KNOWLEDGE ---\n\n--- VENTURE_MASTER_PLAN.md ---\n{{ $('Fetch VENTURE_MASTER_PLAN.md').first().json.data || JSON.stringify($('Fetch VENTURE_MASTER_PLAN.md').first().json) }}\n--- END MASTER PLAN ---\n\nGenerate the weekly plan for the upcoming week.",
              "role": "user"
            }
          ]
        },
        "options": {
          "temperature": 0.5
        }
      },
      "id": "generate-weekly-plan",
      "name": "Generate Weekly Plan",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1250, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: 'C0AMEQV199P', text: $json.message.content, username: 'EA / Operator', icon_emoji: ':clipboard:' }) }}",
        "options": {}
      },
      "id": "post-weekly-plan",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "slack-cred",
          "name": "Slack Bot Token"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Fetch TASKS.md", "type": "main", "index": 0 }]]
    },
    "Fetch TASKS.md": {
      "main": [[{ "node": "Fetch KNOWLEDGE.md", "type": "main", "index": 0 }]]
    },
    "Fetch KNOWLEDGE.md": {
      "main": [[{ "node": "Fetch VENTURE_MASTER_PLAN.md", "type": "main", "index": 0 }]]
    },
    "Fetch VENTURE_MASTER_PLAN.md": {
      "main": [[{ "node": "Generate Weekly Plan", "type": "main", "index": 0 }]]
    },
    "Generate Weekly Plan": {
      "main": [[{ "node": "Post to Slack", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "agent" }, { "name": "ea" }, { "name": "weekly" }],
  "id": "c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f"
}
